<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.lausdahl.AstEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="astv2"
            icon="icons/binary-tree.png"
            id="com.lausdahl.asteditor"
            name="AST Editor">
      </editor>
      
      <editor
            class="com.lausdahl.AstToStringEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="tostring"
            icon="icons/7642_6016_128_ascii_string_str_icon.png"
            id="com.lausdahl.asttostringeditor"
            name="AST ToString Editor">
      </editor>
   </extension>

</plugin>
