#if ($JavaFormat.isStringType($node.getType()))
	$JavaFormat.format($node.getLeft(), true) + $JavaFormat.format($node.getRight(), false)
#else
	Utils.seqConc($JavaFormat.format($node.getLeft()), $JavaFormat.format($node.getRight()))
#end