<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.overture.ide.builder">
      <builder
            class="org.overture.ide.builders.vdmj.BuilderSl">
      </builder>
   </extension>
   
   <extension
         point="org.overture.ide.builder">
      <builder
            class="org.overture.ide.builders.vdmj.BuilderPp">
      </builder>
   </extension>

</plugin>
