<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.overture.ide.core.buildParticipant">
      <builder
            class="org.overture.ide.builders.vdmj.BuilderPp"
            nature="org.overture.ide.vdmpp.core.nature">
      </builder>
   </extension>
   
   

</plugin>
