<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.overture.ide.core.parsePaticipant">
      <parser
            class="org.overture.ide.parsers.vdmj.SourceParserVdmPp"
            nature="org.overture.ide.vdmpp.core.nature">
      </parser>
   </extension>

  


   
   
   

</plugin>
