<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<!-- Parser for VDM PP -->
   <extension
         point="org.overture.ide.core.parsePaticipant">
      <parser
            class="org.overture.ide.parsers.vdmj.SourceParserVdmPp"
            nature="org.overture.ide.vdmpp.core.nature">
      </parser>
   </extension>
   
   
   	<!-- Parser for VDM RT -->
   <extension
         point="org.overture.ide.core.parsePaticipant">
      <parser
            class="org.overture.ide.parsers.vdmj.SourceParserVdmRt"
            nature="org.overture.ide.vdmrt.core.nature">
      </parser>
   </extension>
   
   <!-- Parser for VDM SL -->
      <extension
         point="org.overture.ide.core.parsePaticipant">
      <parser
            class="org.overture.ide.parsers.vdmj.SourceParserVdmSl"
            nature="org.overture.ide.vdmsl.core.nature">
      </parser>
   </extension>
   

  


   
   
   

</plugin>
