import java.rmi.RemoteException;
import java.rmi.server.UnicastRemoteObject;
import org.overture.codegen.runtime.*;
import java.util.*;
import quotes.*;

#set($UniCast = $node.getSuperName())
#if ($node.getIsUniCast())
	#set($UniCast = "UnicastRemoteObject")
#end
 
#set( $abstract = "")
#if ($node.getAbstract())
	#set( $abstract = "abstract")
#end
 
$abstract public class ${node.getName()} extends $UniCast implements ${node.getName()}_i
{	
    #foreach( $field in $node.getFields() )
	$JavaFormat.format($field)
	#end
                                
	#foreach( $method in $node.getMethods() )
	$JavaFormat.format($method)
	#end

	#foreach( $typeDecl in $node.getTypeDecls() )
		#if ($JavaFormat.genTypeDecl($typeDecl))
		$JavaFormat.format($typeDecl)
		#end
	#end
}