<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--Combinatorial Testing Overview-->
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.overture.ide.plugins.developerutils.commandDot"
            name="Dot">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.overture.ide.plugins.developerutils.dot.DotHandler"
            commandId="org.overture.ide.plugins.developerutils.commandDot">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
           locationURI="popup:org.overture.ide.ui.VdmExplorer">
        <menu
              id="org.overture.ide.plugins.developerutils"
              label="Overture Developer Utils">
           <command
                 commandId="org.overture.ide.plugins.developerutils.commandDot"
                 label="Dot"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <iterate
                       ifEmpty="false">
                     
                            <adapt type="org.overture.ide.core.resources.IVdmProject">
                            </adapt>
                       
                 </iterate>
              </visibleWhen>
           </command>
        </menu>
     </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.overture.ide.ui.vdm"
            class="org.overture.ide.plugins.developerutils.preferences.WorkbenchPreferencePageDot"
            id="org.overture.ide.plugins.developerutils.page1"
            name="Dot">
      </page>
   </extension>

</plugin>
