<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.overture.ide.idedebughelper.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmpp.core.nature">
      </filter>
      <filter
         name="projectNature"
         value="org.overture.ide.vdmsl.core.nature">
      </filter>
         <menu
              
               id="org.overture.ide.idedebughelper.menuMain"
               label="Overture IDE Debug Helper"
               path="additions">
            <separator
                  name="groupIdedebughelper">
            </separator>
         </menu>
         
          <action
               class="org.overture.ide.plugins.idedebughelper.actions.AssociateFilesWithNatureAction"
              
               id="org.overture.ide.idedebughelper.actions.AssociateFilesWithNatureAction"
               label="Associate files with nature"
               menubarPath="org.overture.ide.idedebughelper.menuMain/groupIdedebughelper"
               enablesFor="1"
               tooltip="Associate all files in the project with the nature">
         </action>
         
          <!--action
               class="org.overture.ide.plugins.umltrans.actions.Uml2VdmAction"
               icon="icons/vdm.png"
               id="org.overture.ide.umltrans.actions.Uml2VdmAction"
               label="Import XMI"
               menubarPath="org.overture.ide.umltrans.menuMain/groupUml"
               enablesFor="1"
               tooltip="Generate VDM files from a UML model">
         </action>
         <action
               class="org.overture.ide.plugins.umltrans.actions.TexToVppAction"
               icon="icons/filter16.png"
               id="org.overture.ide.umltrans.actions.TexToVppAction"
               label="Remove LaTex from VDM file"
               menubarPath="org.overture.ide.umltrans.menuMain/groupUml"
               enablesFor="1"
               tooltip="Convert VDM TEX files to VDM VPP files">
         </action-->
      </objectContribution>
   </extension>





</plugin>
