<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.overture.ide.idedebughelper.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmsl.core.nature">
      </filter>
         <menu
               id="org.overture.ide.idedebughelper.menuMain"
               label="Overture Utility"
               path="additions">
            <separator
                  name="groupIdedebughelper">
            </separator>
         </menu>
         
          <action
               class="org.overture.ide.plugins.idedebughelper.actions.AssociateFilesWithNatureAction"
              
               id="org.overture.ide.idedebughelper.actions.AssociateFilesWithNatureActionSl"
               label="Associate files with nature"
               menubarPath="org.overture.ide.idedebughelper.menuMain/groupIdedebughelper"
               enablesFor="1"
               tooltip="Associate all files in the project with the nature">
         </action>
         
         
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.overture.ide.idedebughelper.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmpp.core.nature">
      </filter>
        
 <menu
               id="org.overture.ide.idedebughelper.menuMain"
               label="Overture Utility"
               path="additions">
            <separator
                  name="groupIdedebughelper">
            </separator>
         </menu>
         
          <action
               class="org.overture.ide.plugins.idedebughelper.actions.AssociateFilesWithNatureAction"
              
               id="org.overture.ide.idedebughelper.actions.AssociateFilesWithNatureActionPp"
               label="Associate files with nature"
               menubarPath="org.overture.ide.idedebughelper.menuMain/groupIdedebughelper"
               enablesFor="1"
               tooltip="Associate all files in the project with the nature">
         </action>
         
       
      </objectContribution>
      
      
       <objectContribution
            adaptable="true"
            id="org.overture.ide.idedebughelper.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmrt.core.nature">
      </filter>
        
 <menu
               id="org.overture.ide.idedebughelper.menuMain"
               label="Overture Utility"
               path="additions">
            <separator
                  name="groupIdedebughelper">
            </separator>
         </menu>       
          <action
               class="org.overture.ide.plugins.idedebughelper.actions.AssociateFilesWithNatureAction"
              
               id="org.overture.ide.idedebughelper.actions.AssociateFilesWithNatureActionRt"
               label="Associate files with nature"
               menubarPath="org.overture.ide.idedebughelper.menuMain/groupIdedebughelper"
               enablesFor="1"
               tooltip="Associate all files in the project with the nature">
         </action>
         
       
      </objectContribution>
      
      
      <!-- Enable convert from PP to RT-->
       <objectContribution
            adaptable="true"
            id="org.overture.ide.idedebughelper.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmpp.core.nature">
      </filter>
 <menu
               id="org.overture.ide.idedebughelper.menuMain"
               label="Overture Utility"
               path="additions">
            <separator
                  name="groupIdedebughelper">
            </separator>
         </menu>       
         
          <action
               class="org.overture.ide.plugins.idedebughelper.actions.ConvertVdmppToVdmRtAction"
              
               id="org.overture.ide.idedebughelper.actions.ConvertVdmppToVdmRtAction"
               label="Create Real Time project"
               menubarPath="org.overture.ide.idedebughelper.menuMain/groupIdedebughelper"
               enablesFor="1"
               tooltip="Create a RealTime project from selected VDM++ project">
         </action>
         
       
      </objectContribution>
   </extension> 





</plugin>
