#set( $abstract = "")
#if ($node.getAbstract())
	#set( $abstract = "abstract")
#end
##
$abstract $node.getAccess() class $node.getName() $CG.formatSuperType($node)
{

#foreach( $field in $node.getFields() )
$CG.format($field)
#end

#foreach( $method in $node.getMethods() )
$CG.format($method)
#end

}
