<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- GUI PP Launch Config -->

	<!-- Declare launch configuration type -->
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="org.overture.guibuilder.launching.GuiBuilderLaunchConfigurationDelegate"
        id="org.overture.ide.guibuilderpp.launchConfigurationType"
        modes="run"
        name="VDM PP GUI"
        public="true"
        sourceLocatorId="org.overture.ide.debug.sourceLocator"
        sourcePathComputerId="org.overture.ide.debug.sourcePathComputer">
		</launchConfigurationType>
	</extension>

	<!-- Add the launch config group to the launch dialog -->
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="org.overture.guibuilder.launching.GuiBuilderPpLaunchConfigurationTabGroup"
			description="GUI-PP Launch Tab" 
			id="org.overture.ide.guibuilder.launchConfigurationTabGroup"
			type="org.overture.ide.guibuilderpp.launchConfigurationType">
            <launchMode
                  mode="run"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="%localVdmPpApplicationTabGroupDescription.run">
            </launchMode>
		</launchConfigurationTabGroup>
	</extension>

	<!-- Add launch config icon	-->
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="org.overture.ide.guibuilderpp.launchConfigurationType"
			icon="icons/cview16/guipp.png" 
			id="org.overture.ide.debug.ui.launchConfigurationTypeImage">
		</launchConfigurationTypeImage>
	</extension>


</plugin>
