<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <!-- Extension point for builders of VDM -->
  <extension-point id="org.overture.ide.core.buildParticipant" name="Builder" schema="schema/org.overture.ide.core.builder.exsd"/>
   <!-- Extension point for parsers of VDM -->
  <extension-point id="org.overture.ide.core.parsePaticipant" name="Parser" schema="schema/org.overture.ide.core.parsePaticipant.exsd"/>
  <extension-point id="org.overture.ide.core.language" name="Language" schema="schema/org.overture.ide.core.language.exsd"/>


 <!-- Basic builder for VDM -->
  <extension
        id="org.overture.ide.core.builder.VdmBuilder"
        name="VDM Builder"
        point="org.eclipse.core.resources.builders">
     <builder
           callOnEmptyDelta="false"
           hasNature="false"
           isConfigurable="true">
        <run
              class="org.overture.ide.core.builder.VdmBuilder">
        </run>
     </builder>
  </extension>
  
  <!-- Property testers mainly used in the VDM Explorer -->
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.overture.ide.core.propertytester.VdmResourcePropertyTester"
           id="org.overture.ide.core.vdmProjectPropertyTester"
           namespace="org.overture.ide.core.resources"
           properties="dialect"
           type="org.overture.ide.core.resources.IVdmProject">
     </propertyTester>
     <propertyTester
           class="org.overture.ide.core.propertytester.VdmResourcePropertyTester"
           id="org.overture.ide.core.vdmFilePropertyTester"
           namespace="org.overture.ide.core.resources"
           properties="dialect"
           type="org.eclipse.core.resources.IFile">
     </propertyTester>
     <propertyTester
           class="org.overture.ide.core.propertytester.VdmResourcePropertyTester"
           id="org.overture.ide.core.vdmFolderPropertyTester"
           namespace="org.overture.ide.core.resources"
           properties="dialect"
           type="org.eclipse.core.resources.IFolder">
     </propertyTester>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.core.resources.IProject"
           class="org.overture.ide.core.resources.VdmProjectAdapterFactory">
        <adapter
              type="org.overture.ide.core.resources.IVdmProject">
        </adapter>
     </factory>
     <factory
           adaptableType="org.overture.ide.core.resources.IVdmProject"
           class="org.overture.ide.core.resources.VdmProjectAdapterFactory">
        <adapter
              type="org.eclipse.core.resources.IProject">
        </adapter>
     </factory>
  </extension>

</plugin>
