#set( $args = $CFormat.formatArgs($node.getArgs()) )
#set( $field = $node.getFieldName() )
#set( $obj = $CFormat.format($node.getObj()) )
##
#set( $return = "")
#if (!$CFormat.isVoidType($node.getType()))
	#set( $return = "return ")
#end
##
${return}${obj}.${field}(${args});
