#set( $index = $node.getVar())
#set( $fromExp = $XFormat.formatIgnoreContext($node.getFrom()) )
#set( $toExp = $XFormat.formatIgnoreContext($node.getTo()) )
#set( $body = $XFormat.format($node.getBody()) )
#set( $toVar = $XFormat.nextVarName($TempVar.getForIndexToVarNamePrefix()) )
#set( $bySpecified = !$XFormat.isNull($node.getBy()) )
##
long ${toVar} = ${toExp};
##
#set( $condition = "" )
#set( $step = "" )
##
#if ( $bySpecified == true )
	#set($byVar = "$XFormat.nextVarName($TempVar.getForIndexByVarNamePrefix())" )
	long ${byVar} =  $XFormat.formatIgnoreContext($node.getBy());
	#set( $step = "${index} += ${byVar}" )
	#set( $condition = "${byVar} < 0 ? ${index} >= ${toVar} : ${index} <= ${toVar}")
#else

	#set( $condition = "${index} <= ${toVar}" )
	#set( $step = "${index}++" )
#end
##
for(Long ${index} = ${fromExp}; ${condition}; ${step})
{
	$body
}