##Example: super.op(1, 1)
##
#set( $super = "super")
##
#set( $return = "")
#if (!$XFormat.isVoidType($node.getType()))
	#set( $return = "return ")
#end
##
#set( $name = "$node.getName()")
##
${return}${super}.${name}($XFormat.formatArgs($node.getArgs()));