#set( $stm = "")
#if (!$XFormat.isNull($node.getStm()))
	#set( $stm = $XFormat.format($node.getStm()))
#end
##
#set( $finally = $XFormat.format($node.getFinally()))
##
try
{
	${stm}
}
#foreach( $clause in $node.getCatchClauses() )
$XFormat.format($clause)
#end
#if (!$XFormat.isNull(${finally}))
finally
{
	${finally}
}
#end