<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="org.overturetool.eclipse.plugins.editor.core.nature">
         <parser
               class="org.overturetool.eclipse.plugins.editor.core.internal.parser.OvertureSourceParserFactory"
               description="Overture Source Parser"
               id="org.overturetool.sourceParser"
               name="Overture Source Parser"
               priority="0">
         </parser>
      </parserContribution>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.overturetool.eclipse.plugins.editor.core.internal.parser.OvertureSourceElementParser"
            nature="org.overturetool.eclipse.plugins.editor.core.nature"
            priority="0">
      </parser>
   </extension>
   
   <!-- Open declaration feature.  -->
   <extension point="org.eclipse.dltk.core.selectionEngine">
	   <selectionEngine
	         class="org.overturetool.eclipse.plugins.editor.core.internal.codeassist.OvertureSelectionEngine"
	         nature="org.overturetool.eclipse.plugins.editor.core.nature"
	         priority="0">
	   </selectionEngine>
   </extension>

<!-- code completion -->
 
    <extension point="org.eclipse.dltk.core.completionEngine">
        <completionEngine
            class="org.overturetool.eclipse.plugins.editor.core.internal.codeassist.OvertureCompletionEngine2"
            nature="org.overturetool.eclipse.plugins.editor.core.nature"
            priority="0">
        </completionEngine>
   </extension>

<!-- build participant -->
   <extension point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.overturetool.eclipse.plugins.editor.core.internal.builder.OvertureBuilder"
            id="org.overturetool.builder.overturebuildParticipant"
            name="org.overturetool.builder.overturebuildParticipant"
            nature="org.overturetool.eclipse.plugins.editor.core.nature">
      </buildParticipant>
   </extension>


	<extension point="org.eclipse.dltk.core.language">
      <language
            class="org.overturetool.eclipse.plugins.editor.core.OvertureLanguageToolkit"
            nature="org.overturetool.eclipse.plugins.editor.core.nature">
      </language>
   </extension>

   <extension
         point="org.eclipse.dltk.core.builder">
      <builder
            class="org.overturetool.eclipse.plugins.editor.core.internal.builder.OvertureBuilder"
            nature="org.overturetool.eclipse.plugins.editor.core.nature">
      </builder>
   </extension>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.overturetool.eclipse.plugins.editor.core.OvertureNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="vpp, tex, vdm"
            id="org.overturetool.eclipse.plugins.editor.core.overtureContentType"
            name="VDM Source File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.overturetool.eclipse.plugins.editor.core.internal.OvertureCorePreferenceInitializer">
      </initializer>
   </extension>
  

</plugin>
