<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.overturetool.eclipse.plugins.umltrans.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
         name="projectNature"
         value="org.overturetool.eclipse.plugins.editor.core.nature">
      </filter>
         <menu
               label="UML Transformation"
               path="additions"
               id="org.overturetool.eclipse.plugins.umltrans.menuMain">
            <separator
                  name="groupUml">
            </separator>
         </menu>
         
          <action
               class="org.overturetool.eclipse.plugins.umltrans.actions.Vdm2UmlAction"
               icon="icons/ea.png"
               id="org.overturetool.eclipse.plugins.umltrans.actions.Vdm2UmlAction"
               label="Export XMI"
               menubarPath="org.overturetool.eclipse.plugins.umltrans.menuMain/groupUml"
               enablesFor="1"
               tooltip="Generate UML XMI from VDM files">
         </action>
         
          <action
               class="org.overturetool.eclipse.plugins.umltrans.actions.Uml2VdmAction"
               icon="icons/vdm1.png"
               id="org.overturetool.eclipse.plugins.umltrans.actions.Uml2VdmAction"
               label="Import XMI"
               menubarPath="org.overturetool.eclipse.plugins.umltrans.menuMain/groupUml"
               enablesFor="1"
               tooltip="Generate VDM files from a UML model">
         </action>
         <action
               class="org.overturetool.eclipse.plugins.umltrans.actions.TexToVppAction"
               icon="icons/texRemove.png"
               id="org.overturetool.eclipse.plugins.umltrans.actions.TexToVppAction"
               label="Remove LaTex from VDM file"
               menubarPath="org.overturetool.eclipse.plugins.umltrans.menuMain/groupUml"
               enablesFor="1"
               tooltip="Convert VDM TEX files to VDM VPP files">
         </action>
      </objectContribution>
   </extension>





</plugin>
