<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Interpreter install types -->
   <extension point="org.eclipse.dltk.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="org.overture.ide.vdmrt.debug.core.VdmjRtInstallType" 
            id="org.overture.ide.vdmrt.debug.core.VDMJRTInstallType">
      </interpreterInstallType>
   </extension>
   
  <!-- create the built-in VDMJ interpreter for VDM-RT -->
  <extension point="org.eclipse.dltk.launching.interpreterInstalls">
     <interpreterInstall
           home="${eclipse_home}"
           id="org.overture.ide.debug.launching.interpreterInstallType.vdmjrt"
           interpreterInstallType="org.overture.ide.vdmrt.debug.core.VDMJRTInstallType"
           name="VDMJ Interpreter for VDMRT">
     </interpreterInstall>
  </extension>

   <!-- lauch delegate for the VDMJ interpreter using the language VDM-RT -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.overture.ide.vdmrt.debug.core.VdmjVdmRtLaunchConfigurationDelegate"
            id="org.overture.ide.vdmrt.debug.core.VdmjVdmRtLaunchConfigurationDelegate"
            modes="debug, run"
            name="VDMJ VDMRT"
            public="true"
            sourceLocatorId="overtureSourceLocator"
            sourcePathComputerId="overtureSourcePathComputer">
      </launchConfigurationType>
   </extension>
   
   <!-- VDM++ Debugging engine (both selector and engine) -->
    <extension point="org.eclipse.dltk.launching.debuggingEngine">
       <engineContribution natureId="org.overture.ide.vdmrt.core.nature">
          <selector
                class="org.overture.ide.vdmrt.debug.core.VdmRtDebuggingEngineSelector">
          </selector>
          <engine
                class="org.overture.ide.vdmrt.debug.core.VdmRtDebuggerRunnerFactory"
                description="Overture Debugging engine"
                id="org.overture.ide.debug.launching.OvertureDebuggerRunnerFactory"
                priority="0">
          </engine>
       </engineContribution>
    </extension>
    
   <!-- the script debug model --> 
   <extension point="org.eclipse.dltk.debug.scriptDebugModel">
      <debugModel
            debugModelId="org.overture.ide.vdmrt.debug.ui.VdmRtDebugModelPresentation"
            debugToolkit="org.overture.ide.debug.core.OvertureDebugToolkit"
            natureId="org.overture.ide.vdmrt.core.nature"
            typeFactory="org.overture.ide.debug.core.OvertureTypeFactory">
      </debugModel>
   </extension>
   
   <!-- vdmrt -->
   
   
</plugin>
