<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension point="org.eclipse.dltk.launching.interpreterInstallTypes">
    <interpreterInstallType
     class="org.overturetool.eclipse.plugins.launching.internal.launching.GenericOvertureInstalltype"
     id="org.eclipse.dltk.internal.debug.ui.launcher.GenericOvertureInstallType"/>
    <interpreterInstallType
      class="org.overturetool.eclipse.plugins.launching.internal.launching.VDMJInstallType"
      id="org.overturetool.internal.debug.ui.launcher.VDMJInstallType"/>
  </extension>
 
  <extension point="org.eclipse.debug.core.launchDelegates">
    <launchDelegate
      delegate="org.overturetool.eclipse.plugins.launching.internal.launching.OvertureLocalApplicationLaunchConfigurationDelegate"
      id="com.Instantiations.profiler.localOvertureApplicationDelegate"
      modes="debug"
      name="%launchDelegate.name.0"
      type="org.eclipse.jdt.launching.localJavaApplication">
    </launchDelegate>
  </extension>

  <extension point="org.eclipse.dltk.console.scriptInterpreter">
    <scriptInterpreter
      class="org.overturetool.eclipse.plugins.launching.console.OvertureInterpreter"
      natureID="org.overturetool.eclipse.plugins.editor.core.nature" />
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
      icon="icons/vdm16.png"
      configTypeID="org.overturetool.launching.OvertureLaunchConfigurationType"
      id="org.overturetool.launching.OverturetoolLaunchConfigurationTypeImage">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
      delegate="org.overturetool.eclipse.plugins.launching.OvertureLaunchConfigurationDelegate"
      id="org.overturetool.launching.OvertureLaunchConfigurationType"
      modes="run,debug"
      name="%launchConfigurationType.name.0"
      public="true"
      sourceLocatorId="overtureSourceLocator"
      sourcePathComputerId="overtureSourcePathComputer">
    </launchConfigurationType>
    <launchConfigurationType
               delegate="org.overturetool.eclipse.plugins.launching.OvertureLaunchConfigurationDelegate"
               id="org.overturetool.launching.OvertureRemoteLaunchConfigurationType"
               modes="debug"
               name="%RemoteLaunchConfigurationType.name"
               public="true"
               sourceLocatorId="overtureRemoteSourceLocator">
      </launchConfigurationType>
  </extension>

  <extension point="org.eclipse.debug.core.sourcePathComputers">
    <sourcePathComputer
      class="org.overturetool.eclipse.plugins.launching.internal.launching.OvertureSourcePathComputer"
      id="overtureSourcePathComputer" />
  </extension>

  <extension point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator
      class="org.overturetool.eclipse.plugins.launching.internal.launching.OvertureSourceLookupDirector"
      id="overtureSourceLocator"
      name="%sourceLocator.name.0" />
  </extension>
  <extension point="org.eclipse.debug.core.sourceLocators">
        <sourceLocator
           class="org.eclipse.dltk.launching.sourcelookup.RemoteScriptSourceLookupDirector"
           id="overtureRemoteSourceLocator"
           name="%OvertureRemoteSourceLocator.name" 
        />
   </extension> 

  <extension point="org.eclipse.dltk.launching.debuggingEngine">
    <engineContribution natureId="org.overturetool.eclipse.plugins.editor.core.nature">
      <selector class="org.overturetool.eclipse.plugins.launching.OvertureDebuggingEngineSelector" />
    </engineContribution>
  </extension>
</plugin>
