<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
	point="org.eclipse.ui.commands">
	<command
		defaultHandler="org.overture.ide.plugins.codegen.commands.Vdm2JavaCommand"
		id="org.overture.ide.plugins.codegen.vdm2java"
		name="VDM to Java">
	</command>
	<command
		defaultHandler="org.overture.ide.plugins.codegen.commands.Vdm2JavaLaunchConfigCommand"
		id="org.overture.ide.plugins.codegen.vdm2java_launchconfig"
		name="VDM to Java (Launch Configuration Based)">
	</command>
	<command
		defaultHandler="org.overture.ide.plugins.codegen.commands.ConfigCommand"
		id="org.overture.ide.plugins.codegen.config"
		name="Configuration">
	</command>
	<command
		defaultHandler="org.overture.ide.plugins.codegen.commands.AboutCommand"
		id="org.overture.ide.plugins.codegen.about"
		name="About">
	</command>
</extension>

<extension
	point="org.eclipse.ui.menus">
	<menuContribution
		locationURI="popup:org.overture.ide.ui.VdmExplorer">
		<menu
			icon="icons/codegen.png"
			id="org.overture.ide.plugins.codegen"
			label="Code Generation">
			<command
				commandId="org.overture.ide.plugins.codegen.vdm2java"
				label="Generate Java"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<iterate ifEmpty="false">
						<adapt
							type="org.overture.ide.core.resources.IVdmProject">
                      		<or>
	                         	<test
		                               property="org.overture.ide.core.resources.dialect"
		                               value="VDM_SL">
		                        </test>
		                        <test
		                               property="org.overture.ide.core.resources.dialect"
		                               value="VDM_PP">
		                        </test>
                         	</or>
						</adapt>
					</iterate>
				</visibleWhen>
			</command>
			<command
				commandId="org.overture.ide.plugins.codegen.vdm2java_launchconfig"
				label="Generate Java (Launch Configuration Based)"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<iterate ifEmpty="false">
						<adapt
							type="org.overture.ide.core.resources.IVdmProject">
							<test
								property="org.overture.ide.core.resources.dialect"
								value="VDM_PP">
							</test>
						</adapt>
					</iterate>
				</visibleWhen>
			</command>
			<command
				commandId="org.overture.ide.plugins.codegen.config"
				label="Configuration"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<iterate ifEmpty="false">
						<adapt
							type="org.overture.ide.core.resources.IVdmProject">
                      		<or>
	                         	<test
		                               property="org.overture.ide.core.resources.dialect"
		                               value="VDM_SL">
		                        </test>
		                        <test
		                               property="org.overture.ide.core.resources.dialect"
		                               value="VDM_PP">
		                        </test>
                         	</or>
						</adapt>
					</iterate>
				</visibleWhen>
			</command>
			<command
				commandId="org.overture.ide.plugins.codegen.about"
				label="About"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<iterate ifEmpty="false">
						<adapt
							type="org.overture.ide.core.resources.IVdmProject">
                      		<or>
	                         	<test
		                               property="org.overture.ide.core.resources.dialect"
		                               value="VDM_SL">
		                        </test>
		                        <test
		                               property="org.overture.ide.core.resources.dialect"
		                               value="VDM_PP">
		                        </test>
                         	</or>
						</adapt>
					</iterate>
				</visibleWhen>
			</command>
		</menu>
	</menuContribution>
</extension>

 <extension
 	point="org.eclipse.ui.bindings">
	<key
		commandId="org.overture.ide.plugins.codegen.vdm2java"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="Ctrl+Alt+C">
	</key>
</extension>

 <extension
 	point="org.eclipse.ui.bindings">
	<key
		commandId="org.overture.ide.plugins.codegen.vdm2java_launchconfig"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="Ctrl+Alt+B">
	</key>
</extension>

<extension
	point="org.eclipse.ui.preferencePages">
	<page
		category="org.overture.ide.ui.vdm"
		class="org.overture.ide.plugins.codegen.preferences.WorkbenchPreferencePageJavaCodeGen"
		id="org.overture.ide.plugins.codegen.pageMain"
		name="Java Code Generation">
	</page>
</extension>	
 
</plugin>
