record $node.Name =
    #foreach ($fld in $node.Fields )
    $Isa.mkFirstCharLowerCase( ${node.Name} )_$fld.Name :: $Isa.trans($fld.Type)
    #end

$Isa.trans( $node.InvDecl )

$Isa.trans( $node.InitDecl )