#set( $exp = $JavaFormat.format($node.getExp()))
##
#if ($JavaFormat.isStringType($node.getExp().getType()))
	#set( $getCall = ".charAt(0)")
	${exp}${getCall}
#else
	#set( $getCall = ".get(0)")
	#set( $clone = "")
	#if ($ValueSemantics.shouldClone($node))
		#set( $clone = ".clone()")
	#end	
	(($JavaFormat.format($node.getType())) ${exp}$getCall)$clone
#end