#set( $exp = $JavaFormat.format($node.getExp()) )
##
#if ($JavaFormat.isCharType($node.getType()))
	new StringBuilder($exp).reverse().toString()
#else
	#set( $type = $JavaFormat.formatTemplateParam($node.getType()) )
	Utils.<$type>reverse($exp)
#end