<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.overture.ide.vdmsl.ui.VdmSlUILanguageToolkit"
            nature="org.overture.ide.vdmsl.core.nature"
            priority="0">
      </language>
   </extension>
<extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.overture.ide.category"
            class="org.overture.ide.ui.wizards.CreateVdmProjectWizard:org.overture.ide.vdmsl.core.nature"
            id="org.overture.ide.vdmsl.createprojectwizard"
            name="VDM-SL Project"
            project="true">
      </wizard>
     
   </extension>
<extension
      point="org.eclipse.ui.ide.projectNatureImages">
   <image
         icon="icons/ovr16/vdmsl_ovr.gif"
         id="org.overture.ide.vdmsl.ui.nature.image"
         natureId="org.overture.ide.vdmsl.core.nature">
   </image>
</extension>


  <!-- Editor -->
<extension point="org.eclipse.ui.editors">
      <editor
            class="org.overture.ide.vdmsl.ui.internal.editor.VdmSlEditor"
            contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
            default="false"
            icon="icons/cview16/vdmsl_file_tsk.gif"
            id="org.overutre.ide.vdmsl.ui.internal.editor"
            name="VDM SL Editor">
         <contentTypeBinding contentTypeId="org.overture.ide.vdmsl.content-type"/>
      </editor>
   </extension>

<!-- partitioning -->
<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.overture.ide.vdmsl.ui.internal.editor.VdmSlUIPreferenceInitializer">
      </initializer>
   </extension>
   
   
   <!-- customize the outline to include fileds etc. -->
      <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.overture.ide.vdmsl.ui.internal.outline.SourceElementParser"
            nature="org.overture.ide.vdmsl.core.nature"
            priority="0">
      </parser>
   </extension>
</plugin>
