<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.overture.ide.vdmsl.ui.VdmSlUILanguageToolkit"
            nature="org.overture.ide.vdmsl.core.nature"
            priority="0">
      </language>
   </extension>
<extension point="org.eclipse.ui.newWizards">
      <wizard
            category="org.overture.ide.category"
            class="org.overture.ide.ui.wizards.CreateVdmProjectWizard:org.overture.ide.vdmsl.core.nature"
            icon="icons/cview16/vdmsl_file_tsk.gif"
            id="org.overture.ide.vdmsl.createprojectwizard"
            name="VDM-SL Project"
            finalPerspective="org.overture.ide.vdmsl.ui.VdmSlPerspective"
            preferredPerspectives="org.overture.ide.vdmsl.ui.VdmSlPerspective"
            project="true">
      </wizard>
      <!-- new module wizard -->
     <wizard
            category="org.overture.ide.category"
            class="org.overture.ide.vdmsl.ui.wizards.VdmSlNewModuleWizard"
            icon="icons/cview16/vdmsl_file_tsk.gif"
            id="org.overture.ide.vdmsl.ui.wizards.VdmSlNewModuleWizard"
            name="VDM-SL Module">
            <description>New VDM-SL class</description>
      </wizard>
   </extension>

	<!-- project nature image -->
	<extension point="org.eclipse.ui.ide.projectNatureImages">
   <image
         icon="icons/ovr16/vdmsl_ovr.gif"
         id="org.overture.ide.vdmsl.ui.nature.image"
         natureId="org.overture.ide.vdmsl.core.nature">
   </image>
</extension>


  <!-- Editor -->
<extension point="org.eclipse.ui.editors">
      <editor
            class="org.overture.ide.vdmsl.ui.internal.editor.VdmSlEditor"
            contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
            default="false"
            icon="icons/cview16/vdmsl_file_tsk.gif"
            id="org.overture.ide.vdmsl.ui.internal.editor.VdmSlEditor"
            name="VDM SL Editor">
         <contentTypeBinding contentTypeId="org.overture.ide.vdmsl.content-type"/>
      </editor>
   </extension>

<!-- partitioning -->
<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.overture.ide.vdmsl.ui.internal.editor.VdmSlUIPreferenceInitializer">
      </initializer>
   </extension>
<extension
      point="org.eclipse.dltk.core.selectionEngine">
   <selectionEngine
         class="org.overture.ide.vdmsl.ui.internal.selection.VdmSlSelectionEngine"
         nature="org.overture.ide.vdmsl.core.nature"
         priority="0">
   </selectionEngine>
</extension>

   
   
   <!-- customize the outline to include fileds etc. -->
      <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.overture.ide.vdmsl.ui.internal.outline.SourceElementParser"
            nature="org.overture.ide.vdmsl.core.nature"
            priority="0">
      </parser>
   </extension>
      <extension
            point="org.eclipse.dltk.core.completionEngine">
         <completionEngine
               class="org.overture.ide.vdmsl.ui.internal.selection.VdmSlSelectionEngine"
               nature="org.overture.ide.vdmsl.core.nature"
               priority="0">
         </completionEngine>
      </extension>
      <extension
            point="org.eclipse.dltk.ui.scriptDocumentationProviders">
         <provider
               class="org.overture.ide.vdmsl.ui.internal.selection.VdmSlCommentDocumentationProvider"
               id="org.overture.ide.vdmsl.ui.provider1"
               nature="org.overture.ide.vdmsl.core.nature">
         </provider>
      </extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="org.eclipse.dltk.ui.edit.text.script.toggle.comment"
               contextId="org.overture.ide.vdmsl.ui.vdmSlEditorScope"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+7">
         </key>
      </extension>
      <extension
            point="org.eclipse.ui.contexts">
         <context
               description="VDM SL editor scope"
               id="org.overture.ide.vdmsl.ui.vdmSlEditorScope"
               name="vdmSlEditorScope"
               parentId="org.overture.ide.ui.vdmEditorScope">
         </context>
      </extension>
      
      
      
       <!--
   	templates
   -->
   
   <extension point="org.eclipse.ui.preferencePages">
         <page
              class="org.overture.ide.vdmsl.ui.preferences.VdmSlCodeTemplatesPreferencePage"
              id="org.overture.ide.vdmsl.ui.VdmSlCodeTemplatesPreferencePage"
              name="Templates VDM-SL"
              category="org.overture.ide.ui.OvertureGlobalPreferencesPage"
              />
	</extension>
    
   <extension point="org.eclipse.dltk.ui.language">
      <language
            class="org.overture.ide.vdmsl.ui.internal.editor.VdmSlUILanguageToolkit2"
            nature="org.overture.ide.vdmsl.core.nature"
            priority="1">
      </language>
   </extension>
   
   <extension point="org.eclipse.ui.editors.templates">
       <contextType
          class="org.overture.ide.ui.completion.templates.VdmUniversalTemplateContextType"
          id="org.overture.ide.vdmsl.ui.completion.templates.VdmUniversalTemplateContextType"
          name="VDM++ Template content">
       </contextType>
      <include
          file="templates/templates.xml"
       >
       </include>

    </extension>
    
    
  	<!-- completion added because of the template.. -->
	<extension point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
		id="VdmSlCompletionProposalComputer">
		<scriptCompletionProposalComputer
			class="org.overture.ide.vdmsl.ui.internal.completion.VdmSlCompletionProposalComputer"
			categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
			toolkitId="org.overture.ide.vdmsl.core.nature">
			<partition type="__dftl_partition_content_type"/>
		</scriptCompletionProposalComputer>
	</extension>


     <!-- vdmSlEditorScope -->
     <extension point="org.eclipse.ui.contexts">
        <context
              description="VDM-SL editor scope"
              id="org.overture.ide.vdmsl.ui.vdmPpEditorScope"
              name="vdmSlEditorScope"
              parentId="org.overture.ide.ui.vdmEditorScope">
        </context>
     </extension>

	<!-- VDM-SL perspective -->     
    <extension point="org.eclipse.ui.perspectives">
    <perspective
          class="org.overture.ide.vdmsl.ui.VdmSlPerspective"
          icon="icons/cview16/vdmsl_file_tsk.gif"
          id="org.overture.ide.vdmsl.ui.VdmSlPerspective"
          name="VDM-SL">
    </perspective>
 </extension>
</plugin>
