<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.overture.ide.vdmsl.ui.editor.core.VdmSlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/cview16/vdmsl_file_tsk.gif"
            id="org.overture.ide.vdmsl.ui.VdmSlEditor"
            name="Vdm-Sl Editor">
         <contentTypeBinding
               contentTypeId="org.overture.ide.vdmsl.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.overture.ide.ui.wizard"
            class="org.overture.ide.vdmsl.ui.wizards.VdmSlNewProjectWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/cview16/vdmsl_file_tsk.gif"
            id="org.overture.ide.vdmsl.ui.projectWizard"
            name="%newProjectWizardName"
            preferredPerspectives="org.overture.ide.ui.perspective"
            project="true">
      </wizard>
      <wizard
            category="org.overture.ide.ui.wizard"
            class="org.overture.ide.vdmsl.ui.wizards.VdmSlNewFileWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/cview16/vdmsl_file_tsk.gif"
            id="org.overture.ide.vdmsl.ui.fileWizard"
            name="%newEmptyFile"
            preferredPerspectives="org.overture.ide.ui.perspective">
      </wizard>
      <wizard
            category="org.overture.ide.ui.wizard"
            class="org.overture.ide.vdmsl.ui.wizards.VdmSlNewModuleWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/obj16/module_obj.gif"
            id="org.overture.ide.vdmsl.ui.moduleWizard"
            name="%newModule"
            preferredPerspectives="org.overture.ide.ui.perspective">
      </wizard>
      <primaryWizard
            id="org.overture.ide.vdmsl.ui.projectWizard">
      </primaryWizard>
   </extension>
   
   <!-- Nature image -->
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/vdmsl_ovr.gif"
            id="org.overture.ide.vdmsl.ui.image"
            natureId="org.overture.ide.vdmsl.core.nature">
      </image>
   </extension>
   
   <!-- Wizards -->
  

 <!-- VDM Explorer contribution of menus -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="org.overture.ide.ui.vdm"
            associatedExtensionId="org.overture.ide.ui.vdmNavigatorContent"
            type="new"
            wizardId="org.overture.ide.vdmsl.ui.projectWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="org.overture.ide.ui.vdm"
            associatedExtensionId="org.overture.ide.ui.vdmNavigatorContent"
            type="new"
            wizardId="org.overture.ide.vdmsl.ui.fileWizard">
         <enablement>
            <or>
               <adapt
                     type="org.overture.ide.core.resources.IVdmProject">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_SL">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_SL">
                  </test>
               </adapt>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="org.overture.ide.ui.vdm"
            associatedExtensionId="org.overture.ide.ui.vdmNavigatorContent"
            type="new"
            wizardId="org.overture.ide.vdmsl.ui.moduleWizard">
         <enablement>
            <or>
               <adapt
                     type="org.overture.ide.core.resources.IVdmProject">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_SL">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_SL">
                  </test>
               </adapt>
            </or></enablement>
      </commonWizard>
   </extension>     
  
  <extension
        point="org.overture.ide.ui.templateContextType">
     <ContextId
           Id="org.overture.ide.vdmsl.ui.contextType">
     </ContextId>
  </extension>
  <extension
        point="org.eclipse.ui.editors.templates">
     <contextType
           class="org.overture.ide.vdmsl.ui.editor.contentAssist.VdmSlTemplateContextType"
           id="org.overture.ide.vdmsl.ui.contextType"
           name="VDM-SL Template context type">
     </contextType>
     <include
           file="templates/templates.xml">
     </include>
  </extension>
   
</plugin>
