<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--Combinatorial Testing Overview-->
<plugin>
   <extension
         point="org.eclipse.ui.views">
     
      <view
            name="CT Overview"
            icon="icons/trace16.png"
            category="org.overturetool.eclipse.plugin.editor.ui"
            class="org.overturetool.eclipse.plugins.traces.views.TracesTreeView"
            id="org.overturetool.eclipse.plugins.traces.views.TracesView">
      </view>
   
      <view
           category="org.overturetool.eclipse.plugin.editor.ui"
            class="org.overturetool.eclipse.plugins.traces.views.TraceTest"
            icon="icons/trace16.png"
            id="org.overturetool.eclipse.plugins.traces.views.TraceTest"
            name="CT Test Case result">
      </view>
   </extension>
   <extension
         id="tracesProblem"
         name="Traces Problem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <attribute
            name="org.overturetool.eclipse.plugins.traces">
      </attribute>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.overturetool.eclipse.plugins.traces.perspectives.CombinatorialTestingPerspective"
            id="org.overturetool.eclipse.plugins.traces.perspective"
            name="Combinatorial Testing"
            icon="icons/CT.png">
      </perspective>
   </extension>

</plugin>
