## If the target is a map sequence state designator, e.g. counters.put("c1", 4),
## then only the target should be generated.
##
#if ($JavaFormat.isMapSeq($node.getTarget()))
	$JavaFormat.format($node.getTarget());##
#else
	$JavaFormat.format($node.getTarget()) = $JavaFormat.format($node.getExp());##
#end