seqHd($CFormat.format($node.getExp()))

##set( $exp = $CFormat.format($node.getExp()))
##
##if ($CFormat.isStringType($node.getExp().getType()))
##	#set( $getCall = ".charAt(0)")
##	${exp}${getCall}
###else
##	#set( $getCall = ".get(0)")
##	#set ($call = "(($CFormat.format($node.getType())) ${exp}${getCall})")
##	#if ($ValueSemantics.shouldClone($node))
##		Utils.copy(${call})
##	#else
##		${call}
##	#end	
###end
