#set( $iterator = $JavaFormat.nextVarName($TempVar.getIteratorNamePrefix()) )
#set( $exp = $JavaFormat.format($node.getExp()) )
#set( $var = $node.getVar() )
#set( $elementType = $JavaFormat.formatElementType($node.getExp().getType()) )
#set( $body = $JavaFormat.format($node.getBody()) )
##
Iterator ${iterator} = ${exp}.iterator();
while (${iterator}.hasNext())
{
	${elementType} ${var} = (${elementType}) ${iterator}.next();
	${body}
}