#set( $index = $node.getVar())
#set( $fromExp = $JavaFormat.format($node.getFrom()) )
#set( $toExp = $JavaFormat.format($node.getTo()) )
#set( $byExp = $JavaFormat.format($node.getBy()) )
#set( $body = $JavaFormat.format($node.getBody()) )
#set( $toVar = $JavaFormat.nextVarName() )
#set( $bySpecified = !$JavaFormat.isNull($byExp) )
##
long ${toVar} = ${toExp};
##
#set( $condition = "" )
#set( $step = "" )
##
#if ( $bySpecified == true )
	#set($byVar = "$JavaFormat.nextVarName()" )
	long ${byVar} =  ${byExp};
	#set( $step = "${index} += ${byVar}" )
	#set( $condition = "${byVar} < 0 ? ${index} >= ${toVar} : ${index} <= ${toVar}")
#else

	#set( $condition = "${index} <= ${toVar}" )
	#set( $step = "${index}++" )
#end

for(long ${index} = ${fromExp}; ${condition} ; ${step})
{
	$body
}