<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      
      <view
            name="Tracefile viewer"
            icon="icons/overture.gif"
            category="org.overture.ide.ui.view.category"
            class="org.overture.ide.plugins.showtrace.viewer.TracefileViewer"
            id="org.overture.ide.plugins.showtrace.viewer.TracefileViewer">
      </view>
   </extension>
   
</plugin>
