<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="org.overture.ide.debug.sourceviewerEditor"
		name="Source Viewer Editor" schema="schema/org.overture.ide.debug.sourceviewerEditor.exsd" />

	<!--

		add breakpoint actionsSet to the OverturePerspective (this is the menu
		-> run -> (toggle breakpoint, remove all breakpoints, etc)
	-->
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.overture.ide.ui.perspective">
			<actionSet id="org.eclipse.debug.ui.breakpointActionSet"></actionSet>
   <actionSet
         id="org.eclipse.debug.ui.launchActionSet">
   </actionSet>
		</perspectiveExtension>
	</extension>

	<!-- Breakpoints -->

	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.overture.ide.debug.core.model.VdmLineBreakpoint"
					id="org.overture.ide.debug.breakpoint" 
					markerType="vdm.lineBreakpoint.marker"
					name="Vdm Line Breakpoint">
		</breakpoint>
	</extension>
	<extension id="vdm.lineBreakpoint.marker" 
			   point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker"></super>
		<persistent value="true">
		</persistent>
	</extension>
	<extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="org.eclipse.ui.texteditor.ITextEditor"
			class="org.overture.ide.debug.ui.model.VdmBreakpointAdapterFactory">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
			</adapter>
		</factory>
	</extension>
	
	
	
	<!-- source locator -->
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator
			class="org.overture.ide.debug.core.launching.VdmSourceLocatorDirector"
			id="org.overture.ide.debug.sourceLocator" 
			name="Vdm Source Locator">
		</sourceLocator>
	</extension>
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer
			class="org.overture.ide.debug.core.launching.VdmSourcePathComputerDelegate"
			id="org.overture.ide.debug.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	<extension point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
			class="org.overture.ide.debug.ui.model.VdmDebugModelPresentation" 
			id="org.overture.ide.debug.vdm">
		</debugModelPresentation>
	</extension>






<!-- Adds the launch and java debug actions whenever a java relevant part is open.
	Makes the Run and Debug bottons clickable in the VDM Explorer -->
   <extension point="org.eclipse.ui.actionSetPartAssociations">
       <actionSetPartAssociation
            targetID="org.eclipse.debug.ui.launchActionSet">
         <part
               id="org.overture.ide.ui.VdmExplorer">
         </part>
      </actionSetPartAssociation>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.overture.ide.debug.rulerbarPopupMenu"
            targetID="org.overture.ide.ui.rulerbar">
         <action
               class="org.overture.ide.debug.ui.actions.VdmLineBreakpointPropertiesRulerActionDelegate"
               id="org.overture.ide.rulerbar.vdmLineBreakpointAction"
               label="Breakpoint properties..."
               menubarPath="addictions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.overture.ide.debug.ui.propertypages.VdmLineBreakpointPropertyPage"
            id="org.overture.ide.debug.vdmLineBreakpointPropertyPage"
            name="Breakpoint properties"
            objectClass="org.overture.ide.debug.core.model.VdmLineBreakpoint">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.overture.ide.debug.core.ConsoleFactoryDebug"
            icon="icons/cview16/vdmpp_file_tsk.png"
            label="Overture Debug">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.overture.ide.debug.core.ConsoleFactoryLogging"
            label="VDM Debug log">
      </consoleFactory>
   </extension>
   
   <!-- Debug as context menus -->
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
            objectClass="java.lang.Object"
            id="org.eclipse.debug.ui.contextualLaunch.debug">
        <action
              class="org.overture.ide.debug.ui.actions.VdmDebugContextualLaunchAction"
              enablesFor="+"
              id="org.overture.ide.debug.ui.contextualLaunch.debug.submenu"
              label="%DebugContextMenu.label"
              menubarPath="additions"
              overrideActionId="org.eclipse.debug.ui.contextualLaunch.debug.submenu"
              style="pulldown">
         </action>
        <enablement>
             <or>
             	<and>
             		<not>
						<with variable="org.eclipse.core.runtime.Platform">
							<test property="org.eclipse.core.runtime.bundleState"
								args="org.eclipse.debug.core"
								value="ACTIVE"/>
						</with>
					</not>
					<adapt type="org.eclipse.core.resources.IResource"/>
				</and>
             	<and>
					<with variable="org.eclipse.core.runtime.Platform">
						<test property="org.eclipse.core.runtime.bundleState"
							args="org.eclipse.debug.core"
							value="ACTIVE"/>
					</with>
					<test property="org.eclipse.debug.core.launchable" value="debug"/> 
				</and>				
             </or>               
        </enablement>
       </objectContribution>
         <viewerContribution
               id="org.eclipse.debug.ui.viewer.contextualLaunch.debug"
               targetID="org.overture.ide.ui.VdmExplorer">
                <action
                      class="org.overture.ide.debug.ui.actions.VdmDebugContextualLaunchAction"
                      enablesFor="+"
                      id="org.overture.ide.debug.ui.contextualLaunch.debug.submenu"
                      label="%DebugContextMenu.label"
                      menubarPath="additions"
                      overrideActionId="org.eclipse.debug.ui.contextualLaunch.debug.submenu"
                      style="pulldown">
         </action>
         </viewerContribution> 
   </extension>
   
</plugin>
