<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.overture.ide.debug.core.launching.VdmLaunchConfigurationDelegate"
            id="org.overture.ide.debug.core.launchConfigurationType"
            modes="run, debug"
            name="VDM launcher"
            public="true"
            sourceLocatorId="org.overture.ide.debug.sourceLocator"
            sourcePathComputerId="org.overture.ide.debug.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   
   
   
     <!-- 
  
  	add breakpoint actionsSet to the OverturePerspective 
  	(this is the menu -> run -> (toggle breakpoint, remove all breakpoints, etc)
  -->
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
      targetID="org.overture.ide.ui.perspective">
      <actionSet id="org.eclipse.debug.ui.breakpointActionSet"></actionSet>
    </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
           configTypeID="org.overture.ide.debug.core.launchConfigurationType"
           icon="icons/oml16.png"
           id="org.overture.ide.debug.ui.launchConfigurationTypeImage">
     </launchConfigurationTypeImage>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="org.overture.ide.debug.ui.launching.AbstractLaunchConfigurationTabGroup"
           description="VDM launch tab"
           id="org.overture.ide.debug.ui.launchConfigurationTabGroup"
           type="org.overture.ide.debug.core.launchConfigurationType">
           
     </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.debug.core.breakpoints">
     <breakpoint
           class="org.overture.ide.debug.core.model.VdmLineBreakpoint"
           id="org.overture.ide.debug.breakpoint"
           markerType="vdm.lineBreakpoint.marker"
           name="Vdm Line Breakpoint">
     </breakpoint>
  </extension>
  <extension
        id="vdm.lineBreakpoint.marker"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.debug.core.lineBreakpointMarker">
     </super>
     <persistent
           value="true">
     </persistent>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.ui.texteditor.ITextEditor"
           class="org.overture.ide.debug.ui.model.VdmBreakpointAdapterFactory">
        <adapter
              type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
        </adapter>
     </factory>
  </extension>
  <extension
        point="org.eclipse.debug.core.sourceLocators">
     <sourceLocator
           class="org.overture.ide.debug.core.launching.VdmSourceLocatorDirector"
           id="org.overture.ide.debug.sourceLocator"
           name="Vdm Source Locator">
     </sourceLocator>
  </extension>
  <extension
        point="org.eclipse.debug.core.sourcePathComputers">
     <sourcePathComputer
           class="org.overture.ide.debug.core.launching.VdmSourcePathComputerDelegate"
           id="org.overture.ide.debug.sourcePathComputer">
     </sourcePathComputer>
  </extension>
  <extension
        point="org.eclipse.debug.ui.debugModelPresentations">
     <debugModelPresentation
           class="org.overture.ide.debug.ui.model.VdmDebugModelPresentation"
           id="org.overture.ide.debug.vdm">
     </debugModelPresentation>
  </extension>
  
  
  
  
</plugin>
