import org.overture.codegen.runtime.*;
import java.rmi.AlreadyBoundException;
import java.rmi.RemoteException;
import java.rmi.registry.LocateRegistry;
import java.rmi.registry.Registry;
import java.util.Arrays;

public class $node.getName() {

	public static void main(String[] args) 
		throws RemoteException, AlreadyBoundException {

		System.setSecurityManager(new SecurityManager());

		Registry registry = LocateRegistry.createRegistry($node.getPortNumber());

		System.out.println("Server started..");
		while(true);
	}
}