import org.overture.codegen.runtime.*;

import java.rmi.RemoteException;
import java.rmi.server.UnicastRemoteObject;

import java.util.*;

public class SynchToken extends UnicastRemoteObject implements SynchToken_interface {
    public SynchToken() throws RemoteException {
    }
}