<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<!-- *
* Enable project menu for show proofobligations on a pp project
*-->

<!-- On project -->
 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.overture.ide.plugins.poviewer.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmpp.core.nature">
      </filter>
         <menu
               icon="icons/cview16/po_tsk.png"
               id="org.overture.ide.plugins.poviewer.menuMain"
               label="Proof Obligations"
               path="additions">
            <separator
                  name="groupPOViewer">
            </separator>
         </menu>
         
          <action
                class="org.overture.ide.plugins.poviewer.actions.ViewPosActionPp"
                enablesFor="1"
                icon="icons/cview16/po_tsk.png"
                id="org.overture.ide.plugins.poviewer.actions.POViewerAction"
                label="Generate Proof Obligations"
                menubarPath="org.overture.ide.plugins.poviewer.menuMain/groupPOViewer"
                tooltip="Show PO&apos;s">
         </action>
         
        
    
      </objectContribution>
   </extension>

<!-- On File -->   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.overture.ide.plugins.poviewer.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmpp.core.nature">
      </filter>
         <menu
               icon="icons/cview16/po_tsk.png"
               id="org.overture.ide.plugins.poviewer.menuMain"
               label="Proof Obligations"
               path="additions">
            <separator
                  name="groupPOViewer">
            </separator>
         </menu>
         
          <action
                class="org.overture.ide.plugins.poviewer.actions.ViewPosActionPp"
                enablesFor="1"
                icon="icons/cview16/po_tsk.png"
                id="org.overture.ide.plugins.poviewer.actions.POViewerAction"
                label="Generate Proof Obligations"
                menubarPath="org.overture.ide.plugins.poviewer.menuMain/groupPOViewer"
                tooltip="Show PO&apos;s">
         </action>
         
        
    
      </objectContribution>
   </extension>
   <!-- *
* Enable project menu for show proofobligations on a rt project 
*-->
<!-- On project -->

 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.overture.ide.plugins.poviewer.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmrt.core.nature">
      </filter>
         <menu
               icon="icons/cview16/po_tsk.png"
               id="org.overture.ide.plugins.poviewer.menuMain"
               label="Proof Obligations"
               path="additions">
            <separator
                  name="groupPOViewer">
            </separator>
         </menu>
         
          <action
                class="org.overture.ide.plugins.poviewer.actions.ViewPosActionRt"
                enablesFor="1"
                icon="icons/cview16/po_tsk.png"
                id="org.overture.ide.plugins.poviewer.actions.POViewerAction"
                label="Generate Proof Obligations"
                menubarPath="org.overture.ide.plugins.poviewer.menuMain/groupPOViewer"
                tooltip="Show PO&apos;s">
         </action>
      </objectContribution>
   </extension>
<!-- On file -->
 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.overture.ide.plugins.poviewer.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmrt.core.nature">
      </filter>
         <menu
               icon="icons/cview16/po_tsk.png"
               id="org.overture.ide.plugins.poviewer.menuMain"
               label="Proof Obligations"
               path="additions">
            <separator
                  name="groupPOViewer">
            </separator>
         </menu>
         
          <action
                class="org.overture.ide.plugins.poviewer.actions.ViewPosActionRt"
                enablesFor="1"
                icon="icons/cview16/po_tsk.png"
                id="org.overture.ide.plugins.poviewer.actions.POViewerAction"
                label="Generate Proof Obligations"
                menubarPath="org.overture.ide.plugins.poviewer.menuMain/groupPOViewer"
                tooltip="Show PO&apos;s">
         </action>
      </objectContribution>
   </extension>



   <!-- *
* Enable project menu for show proofobligations on a sl
*-->
<!-- On project -->
 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.overture.ide.plugins.poviewer.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmsl.core.nature">
      </filter>
         <menu
               icon="icons/cview16/po_tsk.png"
               id="org.overture.ide.plugins.poviewer.menuMain"
               label="Proof Obligations"
               path="additions">
            <separator
                  name="groupPOViewer">
            </separator>
         </menu>
         
          <action
                class="org.overture.ide.plugins.poviewer.actions.ViewPosActionSl"
                enablesFor="1"
                icon="icons/cview16/po_tsk.png"
                id="org.overture.ide.plugins.poviewer.actions.POViewerAction"
                label="Generate Proof Obligations"
                menubarPath="org.overture.ide.plugins.poviewer.menuMain/groupPOViewer"
                tooltip="Show PO&apos;s">
         </action>
      </objectContribution>
   </extension>
   <!-- On file -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.overture.ide.plugins.poviewer.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
            <filter
         name="projectNature"
         value="org.overture.ide.vdmsl.core.nature">
      </filter>
         <menu
               icon="icons/cview16/po_tsk.png"
               id="org.overture.ide.plugins.poviewer.menuMain"
               label="Proof Obligations"
               path="additions">
            <separator
                  name="groupPOViewer">
            </separator>
         </menu>
         
          <action
                class="org.overture.ide.plugins.poviewer.actions.ViewPosActionSl"
                enablesFor="1"
                icon="icons/cview16/po_tsk.png"
                id="org.overture.ide.plugins.poviewer.actions.POViewerAction"
                label="Generate Proof Obligations"
                menubarPath="org.overture.ide.plugins.poviewer.menuMain/groupPOViewer"
                tooltip="Show PO&apos;s">
         </action>
      </objectContribution>
   </extension>

<extension
         point="org.eclipse.ui.views">
     
      <view
            category="org.overture.ide.ui.view.category"
            class="org.overture.ide.plugins.poviewer.view.PoTableView"
            icon="icons/cview16/po_tsk.png"
            id="org.overture.ide.plugins.poviewer.views.PoTableView"
            name="Proof Obligation View">
      </view>
      <view
            category="org.overture.ide.ui.view.category"
            class="org.overture.ide.plugins.poviewer.view.PoOverviewTableView"
            icon="icons/cview16/po_tsk.png"
            id="org.overture.ide.plugins.poviewer.views.PoOverviewTableView"
            name="Proof Obligation Explorer">
      </view>
   
     
   </extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="org.overture.ide.plugins.poviewer.ProofObligationPerspectiveFactory"
         icon="icons/cview16/po_tsk.png"
         id="org.overture.ide.plugins.poviewer.perspective"
         name="Proof Obligation">
   </perspective>
</extension>


</plugin>
