<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--
		Specify content type and related editor id to be used by the source
		viewer in debug when a breakpoint is reached
	-->
    <extension
         point="org.overture.ide.debug.sourceviewerEditor">
      <SourceViewerEditor
            ContentTypeId="org.overture.ide.vdmsl.content-type"
            EditorId="org.overture.ide.vdmsl.ui.VdmSlEditor">
      </SourceViewerEditor>
   </extension>

	<!-- Declare launch configuration type -->
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			delegate="org.overture.ide.debug.core.launching.VdmLaunchConfigurationDelegate"
			id="org.overture.ide.vdmsl.debug.launchConfigurationType" 
			modes="debug,run"
			name="VDM SL Model" 
			public="true" 
			sourceLocatorId="org.overture.ide.debug.sourceLocator"
			sourcePathComputerId="org.overture.ide.debug.sourcePathComputer">
		</launchConfigurationType>
	</extension>

	<!-- Add the launch config group to the launch dialog -->
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="org.overture.ide.vdmsl.debug.ui.launching.VdmSlLaunchConfigurationTabGroup"
			description="VDM-SL Launch Tab" 
			id="org.overture.ide.debug.ui.launchConfigurationTabGroup"
			type="org.overture.ide.vdmsl.debug.launchConfigurationType">
     <launchMode
           description="%localVdmSlApplicationTabGroupDescription.debug"
           mode="debug"
           perspective="org.overture.ide.debug.DebugPerspective">
     </launchMode>
      <launchMode
                  mode="run"
                  perspective="org.overture.ide.debug.DebugPerspective"
                  description="%localVdmSlApplicationTabGroupDescription.run">
            </launchMode>
		</launchConfigurationTabGroup>
	</extension>

	<!--
		Declare a icon for a launch config type, this is e.g. used in the
		launch config dialog
	-->
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="org.overture.ide.vdmsl.debug.launchConfigurationType"
			icon="icons/cview16/vdmsl_file_tsk.gif" 
			id="org.overture.ide.debug.ui.launchConfigurationTypeImage">
		</launchConfigurationTypeImage>
	</extension>
	
	
	<!-- Shoutcut for launching project. Extends the Debug and Run context menu in the VDM Explorer -->
 <extension point="org.eclipse.debug.ui.launchShortcuts">
  <shortcut        
        class="org.overture.ide.vdmsl.debug.ui.launchconfigurations.VdmSlApplicationLaunchShortcut"
        icon="icons/cview16/vdmsl_file_tsk.gif"
        id="org.overture.ide.vdmsl.debug.ui.localVdmShortcut"
        label="Vdm Application"
        modes="debug,run">
     <contextualLaunch>
           <enablement>
             <with variable="selection">
             <count value="1"/>
                <iterate>
                 <or>
                    <adapt
                          type="org.overture.ide.core.resources.IVdmProject">
                       <test
                             property="org.overture.ide.core.resources.dialect"
                             value="VDM_SL">
                       </test>
                    </adapt>
                 </or>
                </iterate>
           	</with>
           </enablement>
  		 </contextualLaunch>
     <configurationType
           id="org.overture.ide.vdmsl.debug.launchConfigurationType">
     </configurationType>
  </shortcut>
 </extension>

 <!--http://www.eclipse.org/articles/Article-Launch-Framework/launch.html-->
 <!--extension
       point="org.eclipse.debug.ui.launchGroups">
    <launchGroup
          bannerImage="icons/cview16/vdmsl_file_tsk.gif"
          id="org.overture.ide.vdmsl.debug.launchGroupDebug"
          image="icons/cview16/vdmsl_file_tsk.gif"
          label="VDM-SL Launch"
          mode="debug">
    </launchGroup>
     <launchGroup
          bannerImage="icons/cview16/vdmsl_file_tsk.gif"
          id="org.overture.ide.vdmsl.debug.launchGroupRun"
          image="icons/cview16/vdmsl_file_tsk.gif"
          label="VDM-SL Launch"
          mode="run">
    </launchGroup>
 </extension-->


<extension
        point="org.eclipse.ui.popupMenus">
     <viewerContribution
           id="org.overture.ide.vdmsl.ui.RulerBarPopupActions"
           targetID="org.overture.ide.vdmsl.ui.VdmSlEditor.RulerContext">
        <action
              class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
              icon="icons/cview16/brkp_obj.gif"
              id="org.overture.ide.vdmsl.ui.ToggleBreakpointRuler"
              label="Toggle Breakpoint"
              menubarPath="additions">
        </action>
     </viewerContribution>
  </extension>
  
  
   <!-- Enables double click on ruler for breakpoint creation -->
	 <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.overture.ide.vdmsl.ui.VdmSlEditor"
            id="org.overture.ide.debug.VdmEditor.BreakpointRulerActions">
         <action
               label="%AddBreakpoint.label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="org.overture.ide.debug.ui.actions.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
	</extension>

</plugin>
