#set( $final = "")
#if ($node.getFinal())
	#set( $final = "final")
#end
##
#set( $static = "")
#if ($node.getStatic())
	#set( $static = "static")
#end
##
	$node.getAccess() $static $final $CG.format($node.getType()) $node.getName() = $CG.format($node.getInitial());