$CLASS_ACCESS_SPECIFIER class $CLASS_NAME
{
#foreach($valueDef in $VALUE_DEFS)
	$valueDef.getAccessSpecifier() static final $valueDef.getType() $valueDef.getPattern() = $valueDef.getExp();
#end

#foreach($methodDef in $METHOD_DEFS)
	$methodDef.getAccessSpecifier() $methodDef.getReturnType() $methodDef.getMethodName()()
	{
#foreach($statement in $methodDef.getStatements())
		$statement.generate()
#end
	}
#end
}