#set( $counterType = $node.getHistype() )
#set( $innerClass = $CFormat.format($node.getSentinelType()) )
#set( $opName = $node.getOpsname() )
##
sentinel.${counterType}[(( ${innerClass} )sentinel).${opName}]
