<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.core.runtime.preferences">
    <initializer
      class="org.overturetool.eclipse.plugins.debug.ui.internal.ui.preferences.OvertureConsolePreferenceInitializer" />
    <initializer class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.OvertureDebugUIPreferenceInitializer" />
  </extension>
  <!-- 
  <extension point="org.eclipse.ui.viewActions">
 		<viewContribution
            targetID="org.eclipse.debug.ui.BreakpointView"
            id="org.eclipse.dltk.debug.ui.BreakpointViewActions">
    	    <action
				id="org.eclipse.dltk.ruby.debug.ui.actions.AddExceptionBreakpoint"
				toolbarPath="scriptExceptions"
				hoverIcon="$nl$/icons/elcl16/exc_catch.gif"
				class="org.eclipse.dltk.ruby.internal.debug.ui.actions.AddRubyExceptionAction"
				disabledIcon="$nl$/icons/dlcl16/exc_catch.gif"
				icon="$nl$/icons/elcl16/exc_catch.gif"
				helpContextId="add_exception_action_context"
				label="%exceptionAction.label"
				tooltip="%exceptionAction.tooltip">
	        </action>
        </viewContribution>
	</extension>
  
  
  <extension point="org.eclipse.ui.viewActions">
    <viewContribution
      targetID="org.eclipse.debug.ui.VariableView"
      id="org.overturetool.debug.ui.VariableViewActions">
      <action
        style="toggle"
        id="org.overturetool.debug.ui.variableViewActions.ShowStatic"
            class="org.overturetool.internal.console.ui.actions.ShowFunctionsAction"
            helpContextId="show_functions_context"
            icon="icons/vdm16.png"
            label="%showFunctionsAction.label"
            menubarPath="org.overturetool.debug.ui.menu.VariableView/js"
            tooltip="%showFunctionsAction.tooltip">
      </action>
    </viewContribution>
  </extension>
  
  -->
  
  <extension point="org.eclipse.dltk.ui.editorTextHovers">
    <hover
      label="%overtureVariabl1eHoverLabel"
      description="%javaVariableHoverDescription"
      nature="org.overturetool.eclipse.plugins.editor.core.nature"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.OvertureDebugHover"
      id="org.overturetool.internal.debug.ui.OvertureDebugHover">
    </hover>
  </extension>

 <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
      icon="icons/vdm16.png"
      configTypeID="org.overturetool.eclipse.plugins.launching.OvertureLaunchConfigurationType"
      id="org.overturetool.debug.ui.launchConfigurationTypeImage.overture">
    </launchConfigurationTypeImage>
    <launchConfigurationTypeImage icon="icons/vdm16.png"
            configTypeID="org.overturetool.eclipse.plugins.launching.OvertureRemoteLaunchConfigurationType"
            id="org.overturetool.debug.ui.remoteLaunchConfigurationTypeImage">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
      type="org.overturetool.eclipse.plugins.launching.OvertureLaunchConfigurationType"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.launchConfigurations.OvertureTabGroup"
      id="org.overturetool.internal.debug.ui.launchConfigurations.TclTabGroup">
      <launchMode
        mode="debug"
        perspective="org.eclipse.debug.ui.DebugPerspective"
        description="Debug Overture">
      </launchMode>
      <launchMode
        mode="run"
        description="Run Overture">
      </launchMode>
    </launchConfigurationTabGroup>
    <launchConfigurationTabGroup
            class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.launchConfigurations.OvertureRemoteTabGroup"
            id="org.overturetool.debug.ui.OvertureRemoteTabGroup"
            type="org.overturetool.eclipse.plugins.launching.OvertureRemoteLaunchConfigurationType">
    </launchConfigurationTabGroup>
    
  </extension>


 

  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.launcher.OvertureLaunchShortcut"
      icon="icons/vdm16.png"
      id="org.overturetool.debug.ui.launchShortcut"
      label="Overture"
      modes="run, debug">
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1" />
            <iterate>
              <or>
                <test
                  property="org.eclipse.dltk.launching.hasProjectNature"
                  args="org.overturetool.eclipse.plugins.editor.core.nature" />
              </or>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
      <perspective id="org.overturetool.ui.OverturePerspective">
      </perspective>
      <perspective id="org.eclipse.debug.ui.DebugPerspective"></perspective>
    </shortcut>
  </extension>

  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
      adaptable="false"
      id="org.overturetool.console.ui.objectContribution1"
      nameFilter="*"
      objectClass="org.eclipse.dltk.core.ISourceModule">
      <filter
        name="org.eclipse.dltk.ui.nature"
        value="org.overturetool.eclipse.plugins.editor.core.nature">
      </filter>
      <action
        class="org.overturetool.eclipse.plugins.debug.ui.internal.console.ui.actions.PasteOvertureToConsole"
        id="org.overturetool.console.ui.internal.actions.PasteTclTextToConsoleAction"
        label="%OvertureConsole.Actions.PasteToOvertureConsole" />
    </objectContribution>

    <viewerContribution
      id="org.overturetool.debug.ui.viewerContribution1"
      targetID="#OvertureEditorContext">
      <!--action
        class="org.eclipse.dltk.debug.ui.actions.WatchExpressionAction"
        id="org.overturetool.debug.ui.WatchExpressionAction"
        label="%WatchVariable"
        menubarPath="additions"/-->
      <action
        id="org.overturetool.console.ui.internal.actions.PasteToTclConsoleAction"
        label="%OvertureConsole.Actions.PasteToOvertureConsole"
        menubarPath="additions"
        class="org.overturetool.eclipse.plugins.debug.ui.internal.console.ui.actions.PasteOvertureTextToConsoleAction">
      </action>
    </viewerContribution>
    <viewerContribution
      id="org.overturetool.debug.ui.rulerContribution"
      targetID="#OvertureRulerContext">
      <action
        class="org.eclipse.dltk.debug.ui.actions.RulerToggleWatchPointActionDelegate"
        icon="icons/vdm16.png"
        id="overture.doubleClickWatchPointAction"
        label="Toggle Watchpoint"
        menubarPath="debug"
        style="push">
      </action>
      <action
        label="%EnableDisableBreakpoint.label"
        id="org.overturetool.ui.actions.RulerEnableDisableBreakpointActionDelegate"
        class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
        menubarPath="debug">
      </action>

      <action
        label="%ToggleBreakpoint.label"
        id="org.overturetool.ui.actions.RulerToggleBreakpointActionDelegate"
        class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
        menubarPath="debug">
      </action>

      <action
        class="org.eclipse.dltk.debug.ui.actions.ScriptBreakpointPropertiesRulerActionDelegate"
        id="org.overturetool.debug.ui.ScriptBreakpointPropertiesRulerActionDelegate"
        label="%BreakpointProperties.label"
        menubarPath="group.properties" />
    </viewerContribution>
    
    <viewerContribution
      targetID="#OvertureEditorContext"
      id="org.eclipse.dltk.debug.ui.DebugPopupActions">
      <visibility>
        <and>
          <systemProperty
            name="org.eclipse.dltk.debug.ui.debuggerActive"
            value="true">
          </systemProperty>
          <objectClass name="org.eclipse.jface.text.ITextSelection">
          </objectClass>
        </and>
      </visibility>
      <action
        label="%ScriptWatch.label"
        icon="icons/vdm16.png"
        class="org.eclipse.dltk.internal.debug.ui.actions.ScriptWatchAction"
        menubarPath="additions"
        id="org.overturetool.debug.ui.ScriptWatch">
      </action>
      <action
        label="%ScriptInspect.label"
        icon="/icons/vdm16.png"
        definitionId="org.eclipse.dlkt.debug.ui.commands.ScriptInspect"
        class="org.eclipse.dltk.internal.debug.ui.actions.PopupScriptInspectAction"
        menubarPath="additions"
        id="org.overturetool.debug.ui.ScriptInspect">
      </action>
      <action
        label="%ScriptDisplay.label"
        icon="/icons/vdm16.png"
        definitionId="org.eclipse.dlkt.debug.ui.commands.ScriptDisplay"
        class="org.eclipse.dltk.internal.debug.ui.actions.PopupScriptDisplayAction"
        menubarPath="additions"
        id="org.overturetool.debug.ui.ScriptDisplay">
      </action>
    </viewerContribution>
  </extension>

  <extension point="org.eclipse.ui.actionSetPartAssociations">
    <actionSetPartAssociation
      targetID="org.eclipse.debug.ui.launchActionSet">
      <part id="org.overturetool.eclipse.plugins.editor.internal.ui.editor.OvertureEditor"></part>
    </actionSetPartAssociation>
  </extension>
  <extension point="org.eclipse.ui.actionSetPartAssociations">
    <actionSetPartAssociation
      targetID="org.eclipse.debug.ui.launchActionSet">
      <part id="org.eclipse.dltk.ui.ScriptExplorer"></part>
      <part id="org.overturetool.eclipse.plugins.editor.internal.ui.editor.OvertureEditor"></part>
    </actionSetPartAssociation>
  </extension>
  <extension point="org.eclipse.ui.console.consolePatternMatchListeners">
    <consolePatternMatchListener
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.console.OvertureConsoleTracker"
      regex="\(file &quot;.*&quot; line .*\)"
      id="org.overturetool.debug.ui.OvertureConsoleTracker">
      <enablement>
        <or>
          <test
            property="org.eclipse.debug.ui.processTypeTest"
            value="tclInterpreter" />
        </or>
      </enablement>
    </consolePatternMatchListener>

  </extension>
  <!--extension
    point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
    type="org.overturetool.eclipse.plugins.launching.localTCLApplication"
    class="org.overturetool.internal.debug.ui.launchConfigurations.TclTabGroup"
    id="org.overturetool.debug.ui.TCLTabGroup">
    <launchMode 
    mode="debug"
    perspective="org.eclipse.debug.ui.DebugPerspective"
    description="Debug">
    </launchMode>
    </launchConfigurationTabGroup>
    </extension-->

 
  <extension point="org.eclipse.ui.preferencePages">
    <page
      category="org.overturetool.eclipse.plugins.editor.ui.overture"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.interpreters.OvertureInterpreterPreferencePage"
      id="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.interpreters.OvertureInterpreterPreferencePage"
      name="%Interpreters.PreferencePage" />
    <page
      category="org.overturetool.eclipse.plugins.editor.ui.overture"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.preferences.OvertureDebugPreferencePage"
      id="org.overturetool.preferences.debug"
      name="%Debug.PreferencePage" />
    <page
      category="org.overturetool.preferences.debug"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.preferences.OvertureDebuggingEnginePreferencePage"
      id="org.overturetool.preferences.debug.engines"
      name="%Engines.PreferencePage" />
    <page
      category="org.overturetool.eclipse.plugins.editor.ui.overture"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.ui.preferences.OvertureConsolePreferences"
      id="org.overturetool.console.ui.internal.preferences.OvertureConsolePreferences"
      name="%Console.PreferencePage" />
    <page
      category="org.overturetool.preferences.debug"
      class="org.eclipse.dltk.debug.ui.preferences.ScriptDetailFormattersPreferencePage:org.overturetool.eclipse.plugins.editor.core.nature"
      id="org.overturetool.preferences.debug.detailFormatters"
      name="%DetailFormattersPreferencePage.name" />       
  </extension>

  <extension point="org.eclipse.ui.propertyPages">
    <page
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.preferences.OvertureDebugPreferencePage"
      category="org.overturetool.propertyPage"
      id="org.overturetool.propertyPage.debug"
      name="%Debug.PropertyPage">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.overturetool.eclipse.plugins.editor.core.nature"/>
        </adapt>         
      </enabledWhen>
    </page>    
    <page
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.preferences.OvertureDebuggingEnginePreferencePage"
      category="org.overturetool.propertyPage.debug"
      id="org.overturetool.propertyPage.debug.engines"
      name="%Engines.PropertyPage">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.overturetool.eclipse.plugins.editor.core.nature"/>
        </adapt>         
      </enabledWhen>
    </page> 
  </extension>   

  <extension point="org.eclipse.ui.editorActions">
    <editorContribution
      targetID="org.overturetool.eclipse.plugins.editor.internal.ui.editor.OvertureEditor"
      id="org.overturetool.debug.OvertureEditor.BreakpointRulerActions">

      <action
        label="Togle Breakpoint (label not used)"
        class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
        style="push"
        actionID="RulerDoubleClick"
        id="overture.doubleClickBreakpointAction" />


    </editorContribution>
  </extension>
  <extension point="org.eclipse.ui.console.consoleFactories">
    <consoleFactory
      class="org.overturetool.eclipse.plugins.debug.ui.internal.console.ui.OvertureConsoleFactory"
      label="%OvertureConsole.Console" />
  </extension>

  <extension point="org.eclipse.dltk.console.ui.scriptConsole">
    <scriptConsole
      class="org.overturetool.eclipse.plugins.debug.ui.internal.console.ui.OvertureConsoleFactory"
      natureID="org.overturetool.eclipse.plugins.editor.core.nature" />
  </extension>
  <extension point="org.eclipse.dltk.ui.buildpathContainerPage">
    <buildpathContainerPath
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.interpreters.OvertureInterpreterContainerWizardPage"
      id="org.overturetool.eclipse.plugins.editor.launching.INTERPRETER_CONTAINER"
      name="overture Interpreter Libraries"
      nature="org.overturetool.eclipse.plugins.editor.core.nature" />
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
      targetID="org.overturetool.eclipse.plugins.editor.ui.OverturePerspective">
      <actionSet id="org.eclipse.debug.ui.breakpointActionSet"></actionSet>
    </perspectiveExtension>
  </extension>

  <extension point="org.eclipse.debug.ui.debugModelPresentations">
    <debugModelPresentation
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.OvertureDebugModelPresentation"
      id="org.overturetool.eclipse.plugin.debug.OvertureDebugModel" />
  </extension>

  <extension point="org.eclipse.debug.core.watchExpressionDelegates">
    <watchExpressionDelegate
      debugModel="org.overturetool.eclipse.plugin.debug.OvertureDebugModel"
      delegateClass="org.eclipse.dltk.internal.debug.core.model.ScriptWatchExpressionDelegate">
    </watchExpressionDelegate>
  </extension>

  <extension point="org.eclipse.debug.ui.debugModelContextBindings">
    <modelContextBinding
      contextId="org.eclipse.dltk.debug.ui.debugging"
      debugModelId="org.overturetool.eclipse.plugin.debug.OvertureDebugModel" />
  </extension>

  <extension point="org.eclipse.core.runtime.adapters">
    <factory
      adaptableType="org.overturetool.eclipse.plugins.editor.internal.ui.editor.OvertureEditor"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.OvertureEditorDebugAdapterFactory">
      <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget" />
      <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget" />
    </factory>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command
      id="org.overturetool.debug.ui.commands.toggleGlobalVariables"
      description="%showGlobalVarsCommand.name"
      name="%showGlobalVarsCommand.description" />
    <command
      id="org.overturetool.debug.ui.commands.toggleClassVariables"
      description="%showClassVarsCommand.name"
      name="%showClassVarsCommand.description" />
    <command
      id="org.overturetool.debug.ui.commands.toggleLocalVariables"
      description="%showLocalVarsCommand.name"
      name="%showLocalVarsCommand.description" />      
    <command
      id="org.overturetool.debug.ui.commands.showPreferences"
      description="%showPreferences.description"
      name="%showPreferencesCommand.name" />         
  </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.debug.ui.VariableView">
      <menu
        label="%variablesViewMenu.name"
        id="org.overturetool.debug.ui.menu.VariableView" />
    </menuContribution>
    <menuContribution locationURI="menu:org.overturetool.debug.ui.menu.VariableView">
      <command 
        commandId="org.overturetool.debug.ui.commands.toggleGlobalVariables"
        tooltip="%showGlobalVarsCommand.tooltip"     
        style="toggle" />
      <command 
        commandId="org.overturetool.debug.ui.commands.toggleClassVariables"
        tooltip="%showClassVarsCommand.tooltip"      
        style="toggle" />       
      <command 
        commandId="org.overturetool.debug.ui.commands.toggleLocalVariables"
        tooltip="%showLocalVarsCommand.tooltip" 
        style="toggle" />                      
      <command
        commandId="org.overturetool.debug.ui.commands.showPreferences" />                          
    </menuContribution>  
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler 
      commandId="org.overturetool.debug.ui.commands.toggleGlobalVariables"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.handlers.ToggleGlobalVariablesHandler" />
    <handler 
      commandId="org.overturetool.debug.ui.commands.toggleClassVariables"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.handlers.ToggleClassVariablesHandler" />
    <handler 
      commandId="org.overturetool.debug.ui.commands.toggleLocalVariables"
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.handlers.ToggleLocalVariablesHandler" />      
    <handler
      commandId="org.overturetool.debug.ui.commands.showPreferences"
      class="org.eclipse.dltk.debug.ui.handlers.VariablesViewOptionsHandler:org.overturetool.eclipse.plugins.editor.core.nature" />
  </extension>

  <extension point="org.eclipse.dltk.debug.ui.language">
    <language
      class="org.overturetool.eclipse.plugins.debug.ui.internal.debug.ui.OvertureDebugUILanguageToolkit"
      nature="org.overturetool.eclipse.plugins.editor.core.nature"/>
  </extension>
</plugin>

