<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
	<root type="user">
		<map/>
		<node name="org">
			<map/>
			<node name="overturetool">
				<map/>
				<node name="potrans">
					<map>
					   <entry key="setModel" value="testinput/set.vpp"/>
					</map>
					<node name="preparation">
						<map>
							<entry key="testModel1" value="testinput/sorter.vpp"/>
							<entry key="testModel2" value="testinput/dosort.vpp"/>
							<entry key="testModel3" value="testinput/explsort.vpp"/>
							<entry key="testTheory1" value="testinput/set.hol"/>
							<entry key="vdmHolTactics" value="testinput/vdmHolTactics.txt"/>
							<entry key="testDataDir" value="testinput"/>
							<entry key="logOutputDir" value="testoutput"/>
							<entry key="logOutputFile" value="error.log"/>
						</map>
					</node>
				</node>
			</node>
		</node>
	</root>
</preferences>