## If the target is a map sequence state designator, e.g. counters.put("c1", 4),
## then only the target should be generated.
##
#if ($XFormat.isMapSeq($node.getTarget()))
	$XFormat.format($node.getTarget());##
#else
	$XFormat.format($node.getTarget()) = $XFormat.format($node.getExp());##
#end