##Example: A`foo(1, 1)
##
#set( $class = "" )
##
#if (!$XFormat.isNull($node.getClassType()))
	#set( $separator = ".")
	#set( $classType = "$XFormat.format($node.getClassType())")
	#set( $class = "$classType$separator")
#end
##
#set( $return = "")
#if (!$XFormat.isVoidType($node.getType()))
	#set( $return = "return ")
#end
##
#set( $name = "$node.getName()")
##
$return$class$name($XFormat.formatArgs($node.getArgs()));