import java.rmi.Remote;
import java.rmi.RemoteException;
import org.overture.codegen.runtime.*;

#set($UniCast = $node.getSuperName())
#if ($node.getIsSuperClass())
	#set($UniCast = "Remote")
#end

public interface $node.getName() extends $UniCast{
 
	#foreach( $method in $node.getMethodSignatures())
	#if (!$method.getStatic())
	$JavaFormat.format($method)
	#end
	
	#end
}