import java.rmi.Remote;
import java.rmi.RemoteException;
import org.overture.codegen.runtime.*;
 
public interface $node.getName() extends Remote{
 
	#foreach( $method in $node.getMethodSignatures() )
	$JavaFormat.format($method)
	#end
}