$node.getName() = $node.getVarExp();
$node.getInterfaceclassName() stub = ($node.getInterfaceclassName()) UnicastRemoteObject.exportObject($node.getName(), 0);
registry.bind( $node.getNameString() , stub);
##registry.bind( $node.getNameString() , $node.getName());