import java.rmi.AlreadyBoundException;
import java.rmi.RemoteException;
import java.rmi.registry.LocateRegistry;
import java.rmi.registry.Registry;
import java.rmi.NotBoundException;
import org.overture.codegen.runtime.*;

public class $node.getCpuName() {

	public static void main(String[] args) throws RemoteException, AlreadyBoundException, NotBoundException {
	
	$JavaFormat.format($node.getRMIreg())
		
	#foreach( $remoteInstance in $node.getRemoteInst() )
	$JavaFormat.format($remoteInstance)
	#end
		
	#foreach( $clientInstance in $node.getClientInst() )
	$JavaFormat.format($clientInstance)
	#end

	}
}