#set( $end = ";")
#if ( $JavaFormat.isLoopVar($node) )
	#set( $end = "")
#end
##
#set( $pattern = $JavaFormat.format($node.getPattern()) )
##
$JavaFormat.format($node.getType()) $pattern = $JavaFormat.format($node.getExp())${end}