$node.getAccess() static class $node.getName() implements Record
{
	#foreach( $field in $node.getFields() )
	$JavaFormat.format($field)
	#end
	
	$JavaFormat.formatRecordConstructor($node)
	
	##$JavaFormat.generateEqualsMethod($node)
	##$JavaFormat.generateHashcodeMethod($node)
	$JavaFormat.generateCloneMethod($node)
}