static class $node.getName() implements Record
{
	#foreach( $field in $node.getFields() )
	$JavaFormat.format($field)
	#end
	
	$RecordCreator.formatRecordConstructor($node)
	
	$RecordCreator.generateEqualsMethod($node)
	$RecordCreator.generateHashcodeMethod($node)
	$RecordCreator.generateCloneMethod($node)
	$RecordCreator.generateToStringMethod($node)
}