import java.rmi.RemoteException;
import java.rmi.server.UnicastRemoteObject;
import org.overture.codegen.runtime.*;
import java.util.*;

#set($UniCast = $node.getSuperName())
#if ($node.getIsUniCast())
	#set($UniCast = "UnicastRemoteObject")
#end
 
public class ${node.getName()} extends $UniCast implements ${node.getName()}_i
{
    #foreach( $field in $node.getFields() )
	$JavaFormat.format($field)
	#end
                                
	#foreach( $method in $node.getMethods() )
	$JavaFormat.format($method)
	#end
}