<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Overture"
            id="org.overturetool.tracefile.viewer">
      </category>
      <view
            name="Tracefile viewer"
            icon="icons/overture.gif"
            category="org.overturetool.tracefile.viewer"
            class="org.overturetool.tracefile.viewer.TracefileViewer"
            id="org.overturetool.tracefile.viewer.TracefileViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.overturetool.tracefile.viewer.TracefileViewer">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
