<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.ui.commands">
    <command 
     defaultHandler="org.overture.ide.plugins.isatrans.commands.IsaTransCommand" 
     id="org.overture.ide.plugins.isatrans.genthycom" 
     name="Translate to Isabelle"/>
  </extension>
  
    <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <menu icon="icons/cview16/isa.png" id="org.overture.ide.plugins.isatrans" label="Isabelle Translation">
        <command commandId="org.overture.ide.plugins.isatrans.genthycom" label="Translate to Isabelle" style="push" tooltip="Isabelle Translation">
          <visibleWhen checkEnabled="false">
            <iterate ifEmpty="false">
              <or>
                <adapt type="org.overture.ide.core.resources.IVdmProject"/>
                <adapt type="org.eclipse.core.resources.IFile">
                  <or>
                    <test property="org.eclipse.core.resources.extension" value="vdmsl"/>
                  </or>
                </adapt>
              </or>
            </iterate>
          </visibleWhen>
        </command>
      </menu>
    </menuContribution>
  </extension>
  
  <extension point="org.eclipse.ui.bindings">
    <key
      commandId="org.overture.ide.plugins.isatrans.genthycom"
      contextId="org.eclipse.ui.contexts.window"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
      sequence="Ctrl+Alt+I">
    </key>
  </extension>
  
</plugin>
