##Example: A`foo(1, 1)
##
#set( $prefix = "")
#if (!$JavaFormat.isNull($node.getClassType()))
	#set( $separator = ".")
	#set( $classType = "$JavaFormat.format($node.getClassType())")
	#set( $prefix = "$classType$separator")
#end
##
#set( $x = "")
#if (!$JavaFormat.isVoidType($node.getType()))
	#set( $x = "return ")
#end
##
$x$prefix$node.getName()($JavaFormat.formatArgs($node.getArgs()));