<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- preference pages -->
<extension point="org.eclipse.ui.preferencePages">
    <page
      category="org.overture.ide.ui.OvertureGlobalPreferencesPage"
      class="org.overture.ide.debug.ui.preferences.OvertureInterpreterPreferencePage"
      id="org.overture.ide.debug.ui.preferences.OvertureInterpreterPreferencePage"
      name="Interpreters" />
  </extension>

<!--
	Console preference initializer 
-->
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="org.overture.ide.debug.ui.preferences.ConsolePreferenceInitializer" />
  </extension>



<!--
  <extension point="org.eclipse.dltk.ui.buildpathContainerPage">
    <buildpathContainerPath
      class="org.overture.ide.debug.ui.internal.debug.ui.interpreters.OvertureInterpreterContainerWizardPage"
      id="org.overturetool.eclipse.plugins.editor.launching.INTERPRETER_CONTAINER"
      name="overture Interpreter Libraries"
      nature="org.overturetool.eclipse.plugins.editor.core.nature" />
  </extension>
 -->
 
  <!-- 
  
  	add breakpoint actionsSet to the OverturePerspective 
  	(this is the menu -> run -> (toggle breakpoint, remove all breakpoints, etc)
  -->
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
      targetID="org.overture.ide.ui.VdmDefaultPerspective">
      <actionSet id="org.eclipse.debug.ui.breakpointActionSet"></actionSet>
    </perspectiveExtension>
  </extension>
  
</plugin>
