<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension point="org.eclipse.dltk.launching.debuggingEngine">
    <engineContribution natureId="org.overturetool.eclipse.plugins.editor.core.nature">
      <engine
        class="org.overturetool.eclipse.plugins.editor.overturedebugger.OvertureDebuggerRunnerFactory"
        description="%DebuggingEngine.description"
        id="org.overturetool.overturedebugger"
        name="%DebuggingEngine.name"
        priority="0"
        propertyPageId="org.overturetool.propertyPage.debug.engines.overturedebugger"
        preferencePageId="org.overturetool.preferences.debug.engines.overturedebugger">
      </engine>
    </engineContribution>
  </extension>
	  

</plugin>
