#set( $static = "")
#if ($node.getStatic())
	#set( $static = "static")
#end
##
#set( $returnType = "")
#if (!$node.getIsConstructor())
	#set( $returnType = $CG.format($node.getReturnType()))
#end
#set( $abstract = "")
#if ($node.getAbstract())
	#set( $abstract = "abstract")
#end
##
#set( $templateTypes = "")
#if ($node.getTemplateTypes().size() > 0)
	#set( $templateTypes = $CG.formatTemplateTypes($node.getTemplateTypes()))
#end
##
$node.getAccess() $abstract $static $templateTypes $returnType $node.getName()($CG.format($node.getFormalParams()))$CG.formatOperationBody($node.getBody())