#set( $iterator = $JavaFormat.genIteratorName() )
#set( $exp = $JavaFormat.format($node.getExp()) )
#set( $var = $JavaFormat.genThreadName() )
##
for (Iterator ${iterator} = ${exp}.iterator(); ${iterator}.hasNext();)
{
                Thread ${var} = (Thread) ${iterator}.next();
                ${var}.start();
}