#set( $final = "")
#if ( $node.getFinal() )
	#set( $final = "final")
#end
##
#set( $end = ";")
#if ( $XFormat.isLoopVar($node) )
	#set( $end = "")
#end
##
#set( $pattern = $XFormat.format($node.getPattern()) )
##
$XFormat.formatMetaData($node.getMetaData())##
##
${final} $XFormat.format($node.getType()) $pattern = $XFormat.format($node.getExp())${end}