## Note that in the VDM AST a distributed concatenation is treated as
## a unary expression. This is not the case here.
##
#if ($node.getMembers().size() == 0)
	Seq.seq()
#else
	#set( $args = $JavaFormat.formatArgs($node.getMembers()) )
	#if ($JavaFormat.isStringType($node.getType()))
		Seq.distConcStrings($args)
	#else
		Seq.distConc($args)
	#end
#end