#set( $type = $JavaFormat.formatTemplateParam($node.getType()) )
#set( $index = $node.getField() - 1 )
##
#set( $tuple = $JavaFormat.format($node.getTuple()) )
#set( $method = ".get($index)" )
#set( $field = "((${type}) ${tuple}${method})")
##
#if ($ValueSemantics.cloneMember($node))
	Utils.clone(${field})##
#else
	${field}##
#end