#set( $countertype = $node.getHistype() )
#set( $innerclass = $JavaFormat.format($node.getSentinelType()) )
#set( $opname = $node.getOpsname() )
##
Sentinel.${countertype}[((${innerclass})sentinel).${opname}]
##hello