new $JavaFormat.format($node.getType())()
{
	public $JavaFormat.format($node.getType().getResult()) eval(${JavaFormat.formatFinalParams($node.getParams())})
	{
		return $JavaFormat.format($node.getExp());
	}
}