#set( $root = $Isa.trans($node.Root) )
#set( $args = $Isa.transApplyParams($node.Args))
#if ($Isa.isFunc($node.Root.Type) ) 
${root}(${args})##
#elseif ($Isa.isRootRec($node))
${root}[${args}]##
#else 
$root<$args>##
#end