<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
   
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="org.overture.ide.vdmpp.core.nature">
         <parser
               class="org.overture.ide.vdmpp.parsers.vdmj.VdmjSourceParserFactory"
               description="VDM-PP Source Parser"
               id="org.overture.ide.vdmpp.parsers.vdmj"
               name="VDMJ VDM-PP Source Parser"
               priority="0">
         </parser>
      </parserContribution>
   </extension>
  
  

</plugin>
