##new Vector<$JavaFormat.formatTemplateParam($node.getType())>($JavaFormat.formatArgs($node.getMembers()))
##new Vector<$JavaFormat.formatTemplateParam($node.getType())>
##The template parameter can be determined using type inference
##Utils.seq<$JavaFormat.formatTemplateParam($node.getType())>($JavaFormat.formatArgs($node.getMembers()))
Utils.seq($JavaFormat.formatArgs($node.getMembers()))