<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- Editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.overture.ide.vdmrt.ui.editor.core.VdmRtEditor"
            default="true"
            icon="icons/cview16/vdmrt_file_tsk.gif"
            id="org.overture.ide.vdmrt.ui.VdmRtEditor"
            name="Vdm-Rt Editor">
         <contentTypeBinding
               contentTypeId="org.overture.ide.vdmrt.core.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <!-- Wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.overture.ide.ui.wizard"
            class="org.overture.ide.vdmrt.ui.wizard.VdmRtNewProjectWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/cview16/vdmrt_file_tsk.gif"
            id="org.overture.ide.vdmrt.ui.projectWizard"
            name="%newProjectWizardName"
            preferredPerspectives="org.overture.ide.ui.perspective"
            project="true">
      </wizard>
      <wizard
            category="org.overture.ide.ui.wizard"
            class="org.overture.ide.vdmrt.ui.wizard.VdmRtNewFileWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/cview16/vdmrt_file_tsk.gif"
            id="org.overture.ide.vdmrt.ui.fileWizard"
            name="Empty File"
            preferredPerspectives="org.overture.ide.ui.perspective"
            project="false">
      </wizard>
      <wizard
            category="org.overture.ide.ui.wizard"
            class="org.overture.ide.vdmrt.ui.wizard.VdmRtNewClassWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/obj16/class_obj.gif"
            id="org.overture.ide.vdmrt.ui.classWizard"
            name="Class"
            preferredPerspectives="org.overture.ide.ui.perspective"
            project="false">
      </wizard>
      <wizard
            category="org.overture.ide.ui.wizard"
            class="org.overture.ide.vdmrt.ui.wizard.VdmRtNewSystemWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/obj16/system_obj.gif"
            id="org.overture.ide.vdmrt.ui.systemWizard"
            name="System"
            preferredPerspectives="org.overture.ide.ui.perspective"
            project="false">
      </wizard>
      <primaryWizard
            id="org.overture.ide.vdmrt.ui.projectWizard">
      </primaryWizard>
   </extension>
   
   <!-- Nature image -->
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/vdmrt_ovr.gif"
            id="org.overture.ide.vdmrt.ui.image1"
            natureId="org.overture.ide.vdmrt.core.nature">
      </image>
   </extension>

 <!-- VDM Explorer contribution of menus -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="org.overture.ide.ui.vdm"
            type="new"
            wizardId="org.overture.ide.vdmrt.ui.projectWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="org.overture.ide.ui.vdm"
            type="new"
            wizardId="org.overture.ide.vdmrt.ui.fileWizard">
         <enablement>
            <or>
               <adapt
                     type="org.overture.ide.core.resources.IVdmProject">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_RT">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_RT">
                  </test>
               </adapt>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="org.overture.ide.ui.vdm"
            type="new"
            wizardId="org.overture.ide.vdmrt.ui.classWizard">
         <enablement>
            <or>
               <adapt
                     type="org.overture.ide.core.resources.IVdmProject">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_RT">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_RT">
                  </test>
               </adapt>
            </or></enablement>
      </commonWizard>
       <commonWizard
            menuGroupId="org.overture.ide.ui.vdm"
            type="new"
            wizardId="org.overture.ide.vdmrt.ui.systemWizard">
         <enablement>
            <or>
               <adapt
                     type="org.overture.ide.core.resources.IVdmProject">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_RT">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_RT">
                  </test>
               </adapt>
            </or></enablement>
      </commonWizard>
   </extension>
  <!-- Enables double click on ruler for breakpoint creation -->
	 <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.overture.ide.vdmrt.ui.VdmRtEditor"
            id="org.overture.ide.debug.VdmEditor.BreakpointRulerActions">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.overture.ide.debug.ui.actions.ManageBreakpointRulerAction"
               label="%AddBreakpoint.label"
               style="toggle">
         </action>
      </editorContribution>
	</extension>
  <extension
        point="org.overture.ide.ui.templateContextType">
     <ContextId
           Id="org.overture.ide.vdmrt.ui.contextType">
     </ContextId>
  </extension>
  <extension
        point="org.eclipse.ui.editors.templates">
     <contextType
           class="org.overture.ide.vdmrt.ui.editor.contentAssist.VdmRtTemplateContextType"
           id="org.overture.ide.vdmrt.ui.contextType"
           name="Vdm-Rt Context Type">
     </contextType>
     <include
           file="templates/templates.xml">
     </include>
  </extension>
  <extension
        point="org.eclipse.ui.actionSetPartAssociations">
     <actionSetPartAssociation
           targetID="org.eclipse.debug.ui.launchActionSet">
        <part
              id="org.overture.ide.ui.VdmExplorer">
        </part>
     </actionSetPartAssociation>
  </extension>

</plugin>
