<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.overture.ide.vdmrt.ui.editor.core.VdmRtEditor"
            default="true"
            extensions="vdmrt"
            icon="icons/cview16/vdmrt_file_tsk.gif"
            id="org.overture.ide.vdmrt.ui.VdmRtEditor"
            name="Vdm-Rt Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.overture.ide.vdmrt.ui.wizard.VdmRtNewProjectWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/cview16/vdmrt_file_tsk.gif"
            id="org.overture.ide.vdmrt.ui.wizard1"
            name="VDM-RT Project"
            preferredPerspectives="org.overture.ide.ui.perspective"
            project="true">
      </wizard>
      <wizard
            class="org.overture.ide.vdmrt.ui.wizard.VdmRtNewFileWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/cview16/vdmrt_file_tsk.gif"
            id="org.overture.ide.vdmrt.ui.wizard2"
            name="VDM-RT File Wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/vdmrt_ovr.gif"
            id="org.overture.ide.vdmrt.ui.image1"
            natureId="org.overture.ide.vdmrt.core.nature">
      </image>
   </extension>



</plugin>
