#if ($XFormat.isStringType($node.getType()))
	$XFormat.format($node.getLeft(), true) + $XFormat.format($node.getRight(), false)
#else
	SeqUtil.conc($XFormat.format($node.getLeft()), $XFormat.format($node.getRight()))
#end