#if ($CFormat.isStringType($node.getType()))
	$CFormat.format($node.getLeft(), true) + $CFormat.format($node.getRight(), false)
#else
	SeqUtil.conc($CFormat.format($node.getLeft()), $CFormat.format($node.getRight()))
#end