theory $Isa.norm($node.BaseClass.Name)
  imports utp_cml
begin

#foreach( $func in $node.BaseClass.Functions )
$Isa.trans($func)

#end
#foreach( $field in $node.BaseClass.Fields )
$Isa.filter($field)

#end
#foreach ($mr in $node.Mutrecfuncs )
$Isa.trans($mr)

#end

end