#if ($node.Implicit)
vdmifun $Isa.norm($node.Name)
#if ($node.FormalParams.isEmpty())
  inp emptyParam :: "@bool"
#else
  inp $Isa.transTypeParams($node.FormalParams)
#end
  out $Isa.hackResultName($node) :: "$Isa.trans($node.MethodType.Result)"
#else
vdmefun $Isa.norm($node.Name)
  inp $Isa.transTypeParams($node.FormalParams)
  out "$Isa.trans($node.MethodType.Result)"
#end
#if ($node.PreCond)
  pre "$Isa.trans($node.PreCond.Body)"
#end
#if ($node.PostCond)
  post "$Isa.trans($node.PostCond.Body)"
#end
#if (!$node.Implicit)
  is "$Isa.trans($node.Body)" ##
#end