theory $Isa.norm($node.Name)
  imports utp_vdm
begin

#foreach( $func in $node.Functions )
$Isa.trans($func)

#end
#foreach( $field in $node.Fields )
$Isa.filter($field)

#end
#foreach ($mr in $node.Mutrecfuncs )
$Isa.trans($mr)

#end
end