<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.overture.ide.ui.perspective.VdmPerspectiveFactory"
            icon="icons/cview16/overture_nav.gif"
            id="org.overture.ide.ui.perspective"
            name="VDM Perspective">
         <description>
            Insert VDM Perspective Description
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.overture.ide.ui.perspective">
         <view
               id="org.overture.ide.ui.navigatorView"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.overture.ide.ui.navigator.VdmNavigator"
            icon="icons/cview16/overture_nav.gif"
            id="org.overture.ide.ui.navigatorView"
            name="VDM Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.overture.ide.ui.navigatorView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.overture.ide.ui.navigatorView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewer
            viewerId="org.overture.ide.ui.navigatorView">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.overture.ide.ui.navigator.VdmNavigatorContentProvider"
            icon="icons/cview16/overture_nav.gif"
            id="org.overture.ide.ui.navigatorContent2"
            labelProvider="org.overture.ide.ui.navigator.VdmNavigatorLabelProvider"
            name="name">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
  
  <!-- VDM Language property on projects -->
   <extension
           point="org.eclipse.ui.propertyPages">
        <page
              class="org.overture.ide.ui.property.VdmLanguagePropertyPage"
              icon="icons/cview16/overture_nav.gif"
              id="org.overture.ide.ui.property.vdmlanguage"
              name="VDM Settings">
                     
        </page>
     </extension>
  
</plugin>
