<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.overture.ide.ui.perspective.VdmPerspectiveFactory"
            icon="icons/cview16/overture_nav.gif"
            id="org.overture.ide.ui.perspective"
            name="VDM Perspective">
         <description>
            Insert VDM Perspective Description
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.overture.ide.ui.perspective">
         <view
               id="org.overture.ide.ui.navigatorView"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.overture.ide.ui.navigator.VdmNavigator"
            icon="icons/cview16/overture_nav.gif"
            id="org.overture.ide.ui.navigatorView"
            name="VDM Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.overture.ide.ui.navigatorView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.overture.ide.ui.navigatorView">
         <includes>
            <contentExtension
                  pattern="org.overture.ide.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.overture.ide.ui.navigator.VdmNavigatorContentProvider"
            id="org.overture.ide.ui.navigatorContent"
            labelProvider="org.overture.ide.ui.navigator.VdmNavigatorLabelProvider"
            name="VDM Navigation Content"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
  
  
</plugin>
